<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Your Sawaal :: <%=User.name%></title>
    <link rel="icon" href="/images/logo.jpg" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">
    
</head>
<body>
	<div class="wavy-wraper">
		<div class="wavy">
		  <span style="--i:1;">Y</span>
		  <span style="--i:2;">o</span>
		  <span style="--i:3;">u</span>
		  <span style="--i:4;">r</span>
		  <span style="--i:5;">S</span>
		  <span style="--i:6;">a</span>
		  <span style="--i:7;">w</span>
		  <span style="--i:8;">a</span>
		  <span style="--i:9;">a</span>
		  <span style="--i:10;">l</span>
		</div>
	</div>
<div class="theme-layout">
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="#"><img height="100" src="/images/logo.jpeg" alt=""></a>
		</div>
		<div class="top-area">
			
			<div class="top-search">
				<form method="post" class="" action="/search">
                    <input type="text" placeholder="Search Questions, Groups etc" name="search_querry">
                    <button data-ripple><i class="ti-search"></i></button>
                </form>
			</div>
			<div class="page-name">
			    <span> Edit Profile</span>
			 </div>
			<ul class="setting-area">
				
			
				<li><a href="#" title="Languages" data-ripple=""><i class="fa fa-globe"></i><em>EN</em></a>
				
				</li>
				
			</ul>
			<div class="user-img">
				<h5><%=User.name%></h5>
				<img src="/images/resources/company1.png" alt="">
					<div class="user-setting">
					
					<ul class="log-out">
						<li><a href="/user/viewprofile/<%=User._id%>" title=""><i class="ti-user"></i> view profile</a></li>
						<!-- <li><a class="active" href="edit-profile.html" title=""><i class="ti-pencil-alt"></i>edit profile</a></li> -->
						
						<li><a href="/user/logout" title=""><i class="ti-power-off"></i>log out</a></li>
					</ul>
				</div>
			</div>
			</div>
		
	</div><!-- topbar -->
		
	<div class="fixed-sidebar left">
		<div class="menu-left">
			<ul class="left-menu">
				
				<li>
					<a href="C:\Users\stack\Desktop\Your Sawaal\questions\questions.html" title="Questions" data-toggle="tooltip" data-placement="right">
						<i class="ti-magnet"></i>
					</a>
				</li>
				<li>
					<a href="C:\Users\stack\Desktop\Your Sawaal\groups\timeline.html" title="Groups" data-toggle="tooltip" data-placement="right">
						<i class="fa fa-users"></i>
					</a>
				</li>
				<li>
					<a href="C:\Users\stack\Desktop\Your Sawaal\questions\question-details.html" title="Answer" data-toggle="tooltip" data-placement="right">
						<i class="fa fa-forumbee"></i>
					</a>
				</li>
				
				
				
			</ul>
		</div>
		
	</div><!-- left sidebar menu -->
		
	<section>
		<div class="gap2 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="user-profile">
								<figure>
									<div class="edit-pp">
										<label class="fileContainer">
											<i class="fa fa-camera"></i>
											<input type="file">
										</label>
									</div>
									<img src="/images/resources/profile-image.jpg" alt="">
									<!-- <ul class="profile-controls">
										<li><a href="#" title="Follow" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li>
										<li><a href="#" title="UnFollow" data-toggle="tooltip"><i class="fa fa-star"></i></a></li>
										
									</ul> -->
									
								</figure>
								
								<div class="profile-section">
									<div class="row">
										<div class="col-lg-2 col-md-3">
											<div class="profile-author">
												<div class="profile-author-thumb">
													<img alt="author" src="/images/resources/channel.jpg">
													<div class="edit-dp">
														<label class="fileContainer">
															<i class="fa fa-camera"></i>
															<input type="file">
														</label>
													</div>
												</div>
													
												<div class="author-content">
													<a class="h4 author-name" href="/user/viewprofile/<%=User._id%>"><%=User.name%></a>
													<div class="country"><%=User.location%> , <%=User.country%></div>
												</div>
											</div>
										</div>
										<div class="col-lg-10 col-md-9">
											<ul class="profile-menu">
											
												
													
												<li>
													<a class="" href="/userpost/timeline/<%=User._id%>">Timeline</a>
												</li>
												<li>
													<a class="" href="/user/viewprofile/<%=User._id%>">About</a>
												</li>
												<li>
													<a class="" href="/user/viewprofile/<%=User._id%>">Followers</a>
												</li>
												<li>
													<a class="" href="/groups/grouphome/<%=User._id%>">Groups</a>
												</li>
												
												
											</ul>
											<ol class="folw-detail">
												<li><span>Posts</span><ins>101</ins></li>
												<li><span>Followers</span><ins><%=User.followers.length%></ins></li>
												<li><span>Following</span><ins><%=User.followers.length%></ins></li>
											</ol>
										</div>
									</div>
								</div>	
							</div>
							<div class="col-lg-9">
								<div class="central-meta">
									<div class="about">
										<div class="d-flex flex-row mt-2">
											<ul class="nav nav-tabs nav-tabs--vertical nav-tabs--left" >
												
												<!-- <li class="nav-item">
													<a href="#edit-profile" class="nav-link" data-toggle="tab" ><i class="fa fa-pencil"></i> Edit Profile</a>
												</li> -->
												
											</ul>
											<div class="tab-content">
												
												<div class="tab-pane fade show active" id="edit-profile" >
													<div class="set-title">
														<h5>Edit Profile</h5>
														<span>People on Pitnik will get to know you with the info below</span>
													</div>
													<div class="setting-meta">
														<div class="change-photo">
															<figure><img src="/images/resources/admin2.jpg" alt=""></figure>
															<div class="edit-img">
																<form class="edit-phto">
																	
																	<label class="fileContainer">
																		<i class="fa fa-camera-retro"></i>
																		Chage DP
																	<input type="file">
																	</label>
																</form>
															</div>
														</div>
													</div>
													<div class="stg-form-area">
														<form method="post" action="/user/update/<%=User._id%>" class="c-form">
															<!-- <div>
																<label>Display Name</label>
																<input type="text" placeholder="Jack Carter">
															</div>
															
															<div class="uzer-nam">
																<label>User Name</label>
																<span>www.pitnik.com/</span><input type="text" placeholder="jackcarter4023">
															</div> -->
															<!-- <div>
																<label>Email Address</label>
																<input type="text" placeholder="abc@pitnikmail.com">
															</div> -->
															<div>
																<label>Gender</label>
																<div class="form-radio">
																  <div class="radio">
																	<label>
																	  <input type="radio"  name="gender"><i class="check-box"></i>Male
																	</label>
																  </div>
																  <div class="radio">
																	<label>
																	  <input type="radio" name="gender"><i class="check-box"></i>Female
																	</label>
																  </div>
																	<div class="radio">
																	<label>
																	  <input type="radio" name="gender"><i class="check-box"></i>Custom
																	</label>
																  </div>
																</div>
															</div>
															<div>
																<label>about your profile</label>
																<input type="text" name="about"  placeholder="write someting about yourself">
															</div>	
																	

															<div>
																<label>Occupation</label>
																<input type="text" name="occupation"  placeholder="Occupation">
															</div>	

															<div>
																<label>Hobby</label>
																<input type="text" name="hobby"  placeholder="Hobby">
															</div>	

															<div>
																<label>Experience</label>
																<input type="text" name="experience"  placeholder="Share Your Experience">
															</div>	

															<div>
																<label>Education</label>
																<input type="text" name="education"  placeholder="Education">
															</div>	

															<div>
																<label>Location</label>
																<input type="text" name="location" placeholder="Ex.San Francisco, CA">
															</div>
															<div>
																<label>Country</label>
																<select name="country">
																  <option  value="country">Country</option>
																  <option  value="AFG">Afghanistan</option>
																  <option value="ALA">Ƭand Islands</option>
																  <option value="ALB">Albania</option>
																  <option value="DZA">Algeria</option>
																  <option value="ASM">American Samoa</option>
																  <option value="AND">Andorra</option>
																  <option value="AGO">Angola</option>
																  <option value="AIA">Anguilla</option>
																  <option value="ATA">Antarctica</option>
																  <option value="ATG">Antigua and Barbuda</option>
																  <option value="ARG">Argentina</option>
																  <option value="ARM">Armenia</option>
																  <option value="ABW">Aruba</option>
																  <option value="AUS">Australia</option>
																  <option value="AUT">Austria</option>
																  <option value="AZE">Azerbaijan</option>
																  <option value="BHS">Bahamas</option>
																  <option value="BHR">Bahrain</option>
																  <option value="BGD">Bangladesh</option>
																  <option value="BRB">Barbados</option>
																  <option value="BLR">Belarus</option>
																  <option value="BEL">Belgium</option>
																  <option value="BLZ">Belize</option>
																  <option value="BEN">Benin</option>
																  <option value="BMU">Bermuda</option>
																  <option value="BTN">Bhutan</option>
																  <option value="BOL">Bolivia, Plurinational State of</option>
																  <option value="BES">Bonaire, Sint Eustatius and Saba</option>
																  <option value="BIH">Bosnia and Herzegovina</option>
																  <option value="BWA">Botswana</option>
																  <option value="BVT">Bouvet Island</option>
																  <option value="BRA">Brazil</option>
																  <option value="IOT">British Indian Ocean Territory</option>
																  <option value="BRN">Brunei Darussalam</option>
																  <option value="BGR">Bulgaria</option>
																  <option value="BFA">Burkina Faso</option>
																  <option value="BDI">Burundi</option>
																  <option value="KHM">Cambodia</option>
																  <option value="CMR">Cameroon</option>
																  <option value="CAN">Canada</option>
																  <option value="CPV">Cape Verde</option>
																  <option value="CYM">Cayman Islands</option>
																  <option value="CAF">Central African Republic</option>
																  <option value="TCD">Chad</option>
																  <option value="CHL">Chile</option>
																  <option value="CHN">China</option>
																  <option value="CXR">Christmas Island</option>
																  <option value="CCK">Cocos (Keeling) Islands</option>
																  <option value="COL">Colombia</option>
																  <option value="COM">Comoros</option>
																  <option value="COG">Congo</option>
																  <option value="COD">Congo, the Democratic Republic of the</option>
																  <option value="COK">Cook Islands</option>
																  <option value="CRI">Costa Rica</option>
																  <option value="CIV">C𴥠d'Ivoire</option>
																  <option value="HRV">Croatia</option>
																  <option value="CUB">Cuba</option>
																  <option value="CUW">Cura袯</option>
																  <option value="CYP">Cyprus</option>
																  <option value="CZE">Czech Republic</option>
																  <option value="DNK">Denmark</option>
																  <option value="DJI">Djibouti</option>
																  <option value="DMA">Dominica</option>
																  <option value="DOM">Dominican Republic</option>
																  <option value="ECU">Ecuador</option>
																  <option value="EGY">Egypt</option>
																  <option value="SLV">El Salvador</option>
																  <option value="GNQ">Equatorial Guinea</option>
																  <option value="ERI">Eritrea</option>
																  <option value="EST">Estonia</option>
																  <option value="ETH">Ethiopia</option>
																  <option value="FLK">Falkland Islands (Malvinas)</option>
																  <option value="FRO">Faroe Islands</option>
																  <option value="FJI">Fiji</option>
																  <option value="FIN">Finland</option>
																  <option value="FRA">France</option>
																  <option value="GUF">French Guiana</option>
																  <option value="PYF">French Polynesia</option>
																  <option value="ATF">French Southern Territories</option>
																  <option value="GAB">Gabon</option>
																  <option value="GMB">Gambia</option>
																  <option value="GEO">Georgia</option>
																  <option value="DEU">Germany</option>
																  <option value="GHA">Ghana</option>
																  <option value="GIB">Gibraltar</option>
																  <option value="GRC">Greece</option>
																  <option value="GRL">Greenland</option>
																  <option value="GRD">Grenada</option>
																  <option value="GLP">Guadeloupe</option>
																  <option value="GUM">Guam</option>
																  <option value="GTM">Guatemala</option>
																  <option value="GGY">Guernsey</option>
																  <option value="GIN">Guinea</option>
																  <option value="GNB">Guinea-Bissau</option>
																  <option value="GUY">Guyana</option>
																  <option value="HTI">Haiti</option>
																  <option value="HMD">Heard Island and McDonald Islands</option>
																  <option value="VAT">Holy See (Vatican City State)</option>
																  <option value="HND">Honduras</option>
																  <option value="HKG">Hong Kong</option>
																  <option value="HUN">Hungary</option>
																  <option value="ISL">Iceland</option>
																  <option value="IND">India</option>
																  <option value="IDN">Indonesia</option>
																  <option value="IRN">Iran, Islamic Republic of</option>
																  <option value="IRQ">Iraq</option>
																  <option value="IRL">Ireland</option>
																  <option value="IMN">Isle of Man</option>
																  <option value="ISR">Israel</option>
																  <option value="ITA">Italy</option>
																  <option value="JAM">Jamaica</option>
																  <option value="JPN">Japan</option>
																  <option value="JEY">Jersey</option>
																  <option value="JOR">Jordan</option>
																  <option value="KAZ">Kazakhstan</option>
																  <option value="KEN">Kenya</option>
																  <option value="KIR">Kiribati</option>
																  <option value="PRK">Korea, Democratic People's Republic of</option>
																  <option value="KOR">Korea, Republic of</option>
																  <option value="KWT">Kuwait</option>
																  <option value="KGZ">Kyrgyzstan</option>
																  <option value="LAO">Lao People's Democratic Republic</option>
																  <option value="LVA">Latvia</option>
																  <option value="LBN">Lebanon</option>
																  <option value="LSO">Lesotho</option>
																  <option value="LBR">Liberia</option>
																  <option value="LBY">Libya</option>
																  <option value="LIE">Liechtenstein</option>
																  <option value="LTU">Lithuania</option>
																  <option value="LUX">Luxembourg</option>
																  <option value="MAC">Macao</option>
																  <option value="MKD">Macedonia, the former Yugoslav Republic of</option>
																  <option value="MDG">Madagascar</option>
																  <option value="MWI">Malawi</option>
																  <option value="MYS">Malaysia</option>
																  <option value="MDV">Maldives</option>
																  <option value="MLI">Mali</option>
																  <option value="MLT">Malta</option>
																  <option value="MHL">Marshall Islands</option>
																  <option value="MTQ">Martinique</option>
																  <option value="MRT">Mauritania</option>
																  <option value="MUS">Mauritius</option>
																  <option value="MYT">Mayotte</option>
																  <option value="MEX">Mexico</option>
																  <option value="FSM">Micronesia, Federated States of</option>
																  <option value="MDA">Moldova, Republic of</option>
																  <option value="MCO">Monaco</option>
																  <option value="MNG">Mongolia</option>
																  <option value="MNE">Montenegro</option>
																  <option value="MSR">Montserrat</option>
																  <option value="MAR">Morocco</option>
																  <option value="MOZ">Mozambique</option>
																  <option value="MMR">Myanmar</option>
																  <option value="NAM">Namibia</option>
																  <option value="NRU">Nauru</option>
																  <option value="NPL">Nepal</option>
																  <option value="NLD">Netherlands</option>
																  <option value="NCL">New Caledonia</option>
																  <option value="NZL">New Zealand</option>
																  <option value="NIC">Nicaragua</option>
																  <option value="NER">Niger</option>
																  <option value="NGA">Nigeria</option>
																  <option value="NIU">Niue</option>
																  <option value="NFK">Norfolk Island</option>
																  <option value="MNP">Northern Mariana Islands</option>
																  <option value="NOR">Norway</option>
																  <option value="OMN">Oman</option>
																  <option value="PAK">Pakistan</option>
																  <option value="PLW">Palau</option>
																  <option value="PSE">Palestinian Territory, Occupied</option>
																  <option value="PAN">Panama</option>
																  <option value="PNG">Papua New Guinea</option>
																  <option value="PRY">Paraguay</option>
																  <option value="PER">Peru</option>
																  <option value="PHL">Philippines</option>
																  <option value="PCN">Pitcairn</option>
																  <option value="POL">Poland</option>
																  <option value="PRT">Portugal</option>
																  <option value="PRI">Puerto Rico</option>
																  <option value="QAT">Qatar</option>
																  <option value="REU">R궮ion</option>
																  <option value="ROU">Romania</option>
																  <option value="RUS">Russian Federation</option>
																  <option value="RWA">Rwanda</option>
																  <option value="BLM">Saint Barthꭥmy</option>
																  <option value="SHN">Saint Helena, Ascension and Tristan da Cunha</option>
																  <option value="KNA">Saint Kitts and Nevis</option>
																  <option value="LCA">Saint Lucia</option>
																  <option value="MAF">Saint Martin (French part)</option>
																  <option value="SPM">Saint Pierre and Miquelon</option>
																  <option value="VCT">Saint Vincent and the Grenadines</option>
																  <option value="WSM">Samoa</option>
																  <option value="SMR">San Marino</option>
																  <option value="STP">Sao Tome and Principe</option>
																  <option value="SAU">Saudi Arabia</option>
																  <option value="SEN">Senegal</option>
																  <option value="SRB">Serbia</option>
																  <option value="SYC">Seychelles</option>
																  <option value="SLE">Sierra Leone</option>
																  <option value="SGP">Singapore</option>
																  <option value="SXM">Sint Maarten (Dutch part)</option>
																  <option value="SVK">Slovakia</option>
																  <option value="SVN">Slovenia</option>
																  <option value="SLB">Solomon Islands</option>
																  <option value="SOM">Somalia</option>
																  <option value="ZAF">South Africa</option>
																  <option value="SGS">South Georgia and the South Sandwich Islands</option>
																  <option value="SSD">South Sudan</option>
																  <option value="ESP">Spain</option>
																  <option value="LKA">Sri Lanka</option>
																  <option value="SDN">Sudan</option>
																  <option value="SUR">Suriname</option>
																  <option value="SJM">Svalbard and Jan Mayen</option>
																  <option value="SWZ">Swaziland</option>
																  <option value="SWE">Sweden</option>
																  <option value="CHE">Switzerland</option>
																  <option value="SYR">Syrian Arab Republic</option>
																  <option value="TWN">Taiwan, Province of China</option>
																  <option value="TJK">Tajikistan</option>
																  <option value="TZA">Tanzania, United Republic of</option>
																  <option value="THA">Thailand</option>
																  <option value="TLS">Timor-Leste</option>
																  <option value="TGO">Togo</option>
																  <option value="TKL">Tokelau</option>
																  <option value="TON">Tonga</option>
																  <option value="TTO">Trinidad and Tobago</option>
																  <option value="TUN">Tunisia</option>
																  <option value="TUR">Turkey</option>
																  <option value="TKM">Turkmenistan</option>
																  <option value="TCA">Turks and Caicos Islands</option>
																  <option value="TUV">Tuvalu</option>
																  <option value="UGA">Uganda</option>
																  <option value="UKR">Ukraine</option>
																  <option value="ARE">United Arab Emirates</option>
																  <option value="GBR">United Kingdom</option>
																  <option value="USA" selected>United States</option>
																  <option value="UMI">United States Minor Outlying Islands</option>
																  <option value="URY">Uruguay</option>
																  <option value="UZB">Uzbekistan</option>
																  <option value="VUT">Vanuatu</option>
																  <option value="VEN">Venezuela, Bolivarian Republic of</option>
																  <option value="VNM">Viet Nam</option>
																  <option value="VGB">Virgin Islands, British</option>
																  <option value="VIR">Virgin Islands, U.S.</option>
																  <option value="WLF">Wallis and Futuna</option>
																  <option value="ESH">Western Sahara</option>
																  <option value="YEM">Yemen</option>
																  <option value="ZMB">Zambia</option>
																  <option value="ZWE">Zimbabwe</option>
															  </select>
															</div>
															<div>
																<!-- <a href="/user/viewprofile/<%=User._id%>"><button  data-ripple="">Cancel</button></a> -->
																<button type="submit" data-ripple="">Save</button>
															</div>
														</form>
													</div>
												</div><!-- edit profile -->
												
											</div>
										</div>
									</div>
								</div>	
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
											<h4 class="widget-title">My Profile</h4>	
											<div class="your-page">
												<figure>
													<a title="" href="#"><img alt="" src="images/resources/channel.jpg"></a>
												</figure>
												<div class="page-meta">
													<a class="underline" title="/user/viewprofile/<%=User._id%>" href="#"><%=User.name%></a>
													<span><i class="ti-user"></i>Followers <em class="bg-blue"><%=User.followers.length%></em></span>
													<span><i class="ti-bell"></i>Notifications <em class="bg-purple"><%=User.notifications.length%></em></span>
												</div>
												
											</div>
										</div>
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>

	
	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">© Your Sawaal 2022. All rights reserved.</span>
				
				</div>
			</div>
		</div>
	</div><!-- bottom bar -->
</div>

	
	<script data-cfasync="false" src="/../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/js/main.min.js"></script>
	<script src="/js/script.js"></script>

</body>	

</html>