<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>Your Sawal :: Group</title>
		<link rel="icon" href="app/images/logo.jpg" type="image/png" sizes="16x16"> 
		
        <link rel="stylesheet" href="/app/css/main.min.css">
		<link rel="stylesheet" href="/app/css/style.css">
		<link rel="stylesheet" href="/app/css/color.css">
		<link rel="stylesheet" href="/app/css/responsive.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/line-awesome.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/jquery-te-1.4.0.css">
    <link rel="stylesheet" href="/css/upvotejs.min.css">
    <link rel="stylesheet" href="/css/selectize.css">
    <link rel="stylesheet" href="/css/styleques.css">
    <!-- end inject -->
</head>
<body>

<!-- start cssload-loader -->
<div class="wavy-wraper">
    <div class="wavy">
      <span style="--i:1;">Y</span>
      <span style="--i:2;">o</span>
      <span style="--i:3;">u</span>
      <span style="--i:4;">r</span>
      <span style="--i:5;">S</span>
      <span style="--i:6;">a</span>
      <span style="--i:7;">w</span>
      <span style="--i:8;">a</span>
      <span style="--i:9;">a</span>
      <span style="--i:10;">l</span>
    </div>
</div>
<!-- end cssload-loader -->

<div class="theme-layout">
		
		
		
    <div class="topbar stick">
        <div class="logo">
            <a title="" href="#"><img height="100" src="app/images/logo.jpeg" alt=""></a>
        </div>
        <div class="top-area">
            
            <div class="top-search">
                <form method="post" class="" action="/search">
                    <input type="text" placeholder="Search Questions, Groups etc" name="search_querry">
                    <button data-ripple><i class="ti-search"></i></button>
                </form>
            </div>

            <p>
                Translate this page in
                your preferred language:
            </p> 
              
            <div id="google_translate_element"></div> 
              
            <script type="text/javascript"> 
                function googleTranslateElementInit() { 
                    new google.translate.TranslateElement(
                        {pageLanguage: 'en'}, 
                        'google_translate_element'
                    ); 
                } 
            </script> 
              
            <script type="text/javascript" src=
        "https://translate.google.com/translate_a/element.js?
                cb=googleTranslateElementInit">
            </script> 
              
            <!-- <p>
                You can translate the content of this
                page by selecting a language in the
                select box.
            </p>  -->

            <div class="page-name">
                <span>Questions</span>
             </div>
            <ul class="setting-area">
                
            
                <li><a href="#" title="Languages" data-ripple=""><i class="fa fa-globe"></i><em>EN</em></a>
                
                </li>
                
            </ul>
            <div class="user-img">
                <h5>Sailendra Damaraju</h5>
                <img src="app/images/resources/company1.png" alt="">
               
                <div class="user-setting">
                    
                    <ul class="log-out">
                        <li><a href="#" title=""><i class="ti-user"></i> view profile</a></li>
                        <li><a href="#" title=""><i class="ti-pencil-alt"></i>edit profile</a></li>
                        
                        <li><a href="#" title=""><i class="ti-power-off"></i>log out</a></li>
                    </ul>
                </div>
            </div>
            </div>
        
    </div><!-- topbar -->
        <div class="fixed-sidebar left">
            <div class="menu-left">
                <ul class="left-menu">
            
                    <li>
                        <a href="C:\Users\stack\Desktop\Your Sawaal\questions\questions.html" title="Questions" data-toggle="tooltip" data-placement="right">
                            <i class="ti-magnet"></i>
                        </a>
                    </li>
                    <li>
                        <a href="C:\Users\stack\Desktop\Your Sawaal\groups\timeline.html" title="Groups" data-toggle="tooltip" data-placement="right">
                            <i class="fa fa-users"></i>
                        </a>
                    </li>
                    <li>
                        <a href="C:\Users\stack\Desktop\Your Sawaal\questions\question-details.html" title="Answer" data-toggle="tooltip" data-placement="right">
                            <i class="fa fa-forumbee"></i>
                        </a>
                    </li>
                
                
                </ul>
            </div>

        </div><!-- left sidebar menu -->
</div>
<section class="question-area">
    <div class="container">
        <div class="question-main-bar pt-40px pb-40px">
            <div class="filters pb-4">
                <div class="d-flex flex-wrap align-items-center justify-content-between pb-3">
                    <h3 class="fs-22 fw-medium">All Questions</h3>
                    <a role="button" href="/askquestion" class="btn theme-btn theme-btn-sm">Ask Question</a>
                </div>
                <div class="d-flex flex-wrap align-items-center justify-content-between">
                    <p class="pt-1 fs-15 fw-medium lh-20">50 questions</p>
                   
                </div>
            </div><!-- end filters -->
            <% newQuestions.forEach(function(question){ %>
            <div class="questions-snippet border-top border-top-gray">
                
                <div class="media media-card rounded-0 shadow-none mb-0 bg-transparent p-3 border-bottom border-bottom-gray">
                    <div class="votes text-center votes-2">
                        <div class="vote-block">
                            <span class="vote-counts  d-block text-center pr-0 lh-20 fw-medium"><%=question.upvotes %></span>
                            <span class="vote-text d-block fs-13 lh-18">Up votes</span>
                        </div>
                        <div class="answer-block answered-accepted my-2">
                            <span class="answer-counts d-block lh-20 fw-medium"><%= question.answers.length%></span>
                            <span class="answer-text d-block fs-13 lh-18">Answers</span>
                        </div>
                        <div class="view-block">
                            <span class="view-counts d-block lh-20 fw-medium" id="views" aria-valuenow="0"></span>
                            <span class="view-text d-block fs-13 lh-18">views</span>
                        </div>
                    </div>
                    
                    <div class="media-body">
                        <ins><a href="/user/viewprofile/<%= question.author %>" title="">
                            <%= question.author %>
                        </a></ins>
                        <h5 class="mb-2 fw-medium"> <%= question.title %></h5>
                        <form action="/questions/<%=question._id%>" method="post">
                        
                        <!-- <p class="mb-2 truncate lh-20 fs-15"> <%= question.details %></p> -->
                        <button id="details" type="submit" name="question_details" value="<%= question._id %>" onclick="views()">Details</button>
                        </form>
                        <div class="tags">
                            <a  href="#" class="tag-link"><img src="images/answer.png"> Answer</a>
                            <a href="#" class="tag-link"><img src="images/share.png"> Share</a>
                            <form action="/upvote" method="post">
                            <button  class="tag-link upvote_class" name="upvote" value="<%= question._id %>"><img src="images/upvote.png"></button>
                        </form>
                            <button id="downvote" class="tag-link"><img src="images/downvote.png"></button>

                            <!-- <div id="topic" class="upvotejs">
                                <a class="upvote"></a>
                                 <span class="count"></span>
                               <a class="downvote"></a>
                                 <a class="star"></a>
                               </div> -->
                 <script>
                      var isBodyClicked = false;
    function views() {
    
        document.getElementById("views").ariaValueNow=count+1;
       
      
    }
                 </script>
                        </div>
                        
                        <div class="media media-card user-media align-items-center px-0 border-bottom-0 pb-0">
                            <!-- <a href="#" class="media-img d-block">
                                <img src="images/img3.jpg" alt="avatar">
                            </a> -->
                            <div class="media-body d-flex flex-wrap align-items-center justify-content-between">
                                <!-- <div>
                                    <h5 class="pb-1"><a href="#">Ajay Devgn</a></h5>
                                    <div class="stats fs-12 d-flex align-items-center lh-18">
                                        <span class="text-black pr-2"><i class="fa fa-users"></i> 200K</span>
                                        <span class="pr-2 d-inline-flex align-items-center"><i class="fa fa-heart"></i> 16</span>
                                          
                                    </div>
                                </div> -->
                                <small class="meta d-block text-left">
                                    <span class="text-black d-block lh-18">asked</span>
                                    <span class="d-block lh-18 fs-12"><%= question.date %></span>
                                </small>
                            </div>
                        </div>
                    </div>
                    
                </div><!-- end media -->
                <% }) %>
      
            <div class="pager pt-30px px-3">
                <nav aria-label="Page navigation example">
                    <ul class="pagination generic-pagination pr-1">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="la la-arrow-left"></i></span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="la la-arrow-right"></i></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="fs-13 pt-2">Showing 1-4 results of 50 questions</p>
            </div>
        </div><!-- end question-main-bar -->
    </div><!-- end container -->
</section><!-- end question-area -->

<div class="theme-layout">
		
		
	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">© Your Sawaal 2022. All rights reserved.</span>
				
				</div>
			</div>
		</div>
	</div><!-- bottom bar -->
</div>


<!-- end back to top -->
<script src="/app/js/main.min.js"></script>
	
	<script src="/js/script.js"></script>
<script src="/jquery-3.4.1.min.js"></script>
<script src="/bootstrap.bundle.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/main.js"></script>
<script>
    var button = document.getElementById("upvote"),
  count = 0;
button.onclick = function() {
  count += 1;
  document.getElementById("upvotes").innerHTML = + count;
};

</script>
<script>
    var button = document.getElementById("downvote"),
  count = 0;
button.onclick = function() {
  count += 1;
  button.innerHTML = "Downvotes: " - count;
};
</script>
</body>
</html>