<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>Your Sawal :: Group</title>
		<link rel="icon" href="app/images/logo.jpg" type="image/png" sizes="16x16"> 
		
        <link rel="stylesheet" href="/app/css/main.min.css">
		<link rel="stylesheet" href="/app/css/style.css">
		<link rel="stylesheet" href="/app/css/color.css">
		<link rel="stylesheet" href="/app/css/responsive.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/line-awesome.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/jquery-te-1.4.0.css">
    <link rel="stylesheet" href="/css/upvotejs.min.css">
    <link rel="stylesheet" href="/css/selectize.css">
    <link rel="stylesheet" href="/css/styleques.css">
    <!-- end inject -->
</head>
<body>

<!-- start cssload-loader -->
<div class="wavy-wraper">
    <div class="wavy">
      <span style="--i:1;">Y</span>
      <span style="--i:2;">o</span>
      <span style="--i:3;">u</span>
      <span style="--i:4;">r</span>
      <span style="--i:5;">S</span>
      <span style="--i:6;">a</span>
      <span style="--i:7;">w</span>
      <span style="--i:8;">a</span>
      <span style="--i:9;">a</span>
      <span style="--i:10;">l</span>
    </div>
</div>
<!-- end cssload-loader -->

<div class="theme-layout">
		
		
		
    <div class="topbar stick">
        <div class="logo">
            <a title="" href="#"><img height="100" src="/app/images/logo.jpeg" alt=""></a>
        </div>
        <div class="top-area">
            
            <div class="top-search">
                <form method="post" class="" action="/search">
                    <input type="text" placeholder="Search Questions, Groups etc" name="search_querry">
                    <button data-ripple><i class="ti-search"></i></button>
                </form>
            </div>
            <div class="page-name">
                <span>Answers</span>
             </div>
            <ul class="setting-area">
                
            
                <li><a href="#" title="Languages" data-ripple=""><i class="fa fa-globe"></i><em>EN</em></a>
                
                </li>
                
            </ul>
            <div class="user-img">
                <h5>Sailendra Damaraju</h5>
                <img src="/app/images/resources/company1.png" alt="">
               
                <div class="user-setting">
                    
                    <ul class="log-out">
                        <li><a href="#" title=""><i class="ti-user"></i> view profile</a></li>
                        <li><a href="#" title=""><i class="ti-pencil-alt"></i>edit profile</a></li>
                        
                        <li><a href="#" title=""><i class="ti-power-off"></i>log out</a></li>
                    </ul>
                </div>
            </div>
            </div>
        
    </div><!-- topbar -->
        <div class="fixed-sidebar left">
            <div class="menu-left">
                <ul class="left-menu">
            
                   
                    <li>
                        <a href="C:\Users\stack\Desktop\Your Sawaal\questions\questions.html" title="Questions" data-toggle="tooltip" data-placement="right">
                            <i class="ti-magnet"></i>
                        </a>
                    </li>
                    <li>
                        <a href="C:\Users\stack\Desktop\Your Sawaal\groups\timeline.html" title="Groups" data-toggle="tooltip" data-placement="right">
                            <i class="fa fa-users"></i>
                        </a>
                    </li>
                    <li>
                        <a href="C:\Users\stack\Desktop\Your Sawaal\questions\question-details.html" title="Answer" data-toggle="tooltip" data-placement="right">
                            <i class="fa fa-forumbee"></i>
                        </a>
                    </li>
            
                
                
                
                
                </ul>
            </div>

        </div><!-- left sidebar menu -->
</div>

<!--======================================
        END HERO AREA
======================================-->

<!-- ================================
         START QUESTION AREA
================================= -->
<section class="question-area pt-40px pb-40px">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="question-main-bar mb-50px">
                    <div class="question-highlight">
                        <div class="media media-card shadow-none rounded-0 mb-0 bg-transparent p-0">
                            <div class="media-body">
                                <h5 class="fs-20"><%= Question.title %></h5>
                                <div class="meta d-flex flex-wrap align-items-center fs-13 lh-20 py-1">
                                    <div class="pr-3">
                                        <span>Asked</span>
                                        <span class="text-black"><%= Question.date %></span>
                                    </div>
                                    <div class="pr-3">
                                        <span class="pr-1">Active</span>
                                        
                                    </div>
                                    <div class="pr-3">
                                        <span class="pr-1">Viewed</span>
                                        <span class="text-black">90 times</span>
                                    </div>
                                </div>
                                <div class="tags">
                                    <a href="#" class="tag-link"><%= Question.tags %></a>
                                    <!-- <a href="#" class="tag-link">india</a>
                                    <a href="#" class="tag-link">law</a> -->
                                </div>
                            </div>
                        </div><!-- end media -->
                    </div><!-- end question-highlight -->
                    <div class="question d-flex">
                        <div class="votes votes-styled w-auto">
                            <div id="vote" class="upvotejs">
                                <a class="upvote upvote-on" data-toggle="tooltip" data-placement="right" title="This question is useful"></a>
                                <span class="count" data-placement="center"><%= Question.upvotes %></span>
                                <a class="downvote" data-toggle="tooltip" data-placement="right" title="This question is not useful"></a>
                                <br>
                                <a class="star" data-toggle="tooltip" data-placement="right" title="Bookmark this question."></a>
                            </div>
                        </div><!-- end votes -->
                        <div class="question-post-body-wrap flex-grow-1">
                            <div class="question-post-body">
                                <p><%= Question.details %></p>
                                <!-- <p>Can you let me know?</p> -->
                            </div><!-- end question-post-body -->
                            <div class="question-post-user-action">
                                <div class="post-menu">
                                    <button class="btn dropdown-toggle after-none" type="button" id="shareDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share</button>
                                    <button class="btn dropdown-toggle after-none" type="button" id="shareDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edit</button>
                                    <button class="btn dropdown-toggle after-none" type="button" id="shareDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Follow</button>
                                
                                    <div class="btn-group">
                                       
                                    </div><!-- btn-group -->
                                    
                                </div><!-- end post-menu -->
                                <div class="media media-card user-media owner align-items-center">
                                    <a href="#" class="media-img d-block">
                                        <img src="/images/img3.jpg" alt="avatar">
                                    </a>
                                    <div class="media-body d-flex flex-wrap align-items-center justify-content-between">
                                        <div>
                                            <h5 class="pb-1"><a href="user/viewprofile">User1</a></h5>
                                            <div class="stats fs-12 d-flex align-items-center lh-18">
                                                <span class="text-black pr-2"><i class="fa fa-users"></i> 200K</span>
                                                <span class="pr-2 d-inline-flex align-items-center"><i class="fa fa-heart"></i> 16</span>
                                               
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div><!-- end media -->
                                <div class="media media-card user-media align-items-center">
                                    <a href="#" class="media-img d-block">
                                        <img src="images/img4.jpg" alt="avatar">
                                    </a>
                                    <div class="media-body d-flex flex-wrap align-items-center justify-content-between">
                                        <div>
                                            <h5 class="pb-1"><a href="#">User2</a></h5>
                                            <div class="stats fs-12 d-flex align-items-center lh-18">
                                                <span class="text-black pr-2"><i class="fa fa-users"></i> 200K</span>
                                                <span class="pr-2 d-inline-flex align-items-center"><i class="fa fa-heart"></i> 16</span>
                                                  </div>
                                        </div>
                                        <a href="#" class="meta d-block text-right fs-13 text-color">
                                            <span class="d-block lh-18">edited</span>
                                            <span class="d-block lh-18 fs-12">6 hours ago</span>
                                        </a>
                                    </div>
                                </div><!-- end media -->
                            </div><!-- end question-post-user-action -->
                            <div class="comments-wrap">
                                <% for (var i = 0; i < Questcomments.length; i++) { %>
                                <ul class="comments-list">
                                    <li>
                                        <div class="comment-actions">
                                            <span class="comment-score"><%= i+1 %></span>
                                        </div>
                                        <div class="comment-body">
                                            <span class="comment-copy"><%= Questcomments[i].qcommment %></span>
                                            <span class="comment-separated">-</span>
                                            <a href="#" class="comment-user" title="15,467 reputation">User<%= i+1 %></a>
                                            <span class="comment-separated">-</span>
                                            <a href="#" class="comment-date"><%= Questcomments[i].date_comment %></a>
                                        </div>
                                    </li>
                                    
                                </ul>
                                <% } %>
                                <div class="comment-form">
                                    <div class="comment-link-wrap text-center">
                                        <a class="collapse-btn comment-link" data-toggle="collapse" href="#addCommentCollapse" role="button" aria-expanded="false" aria-controls="addCommentCollapse" title="Use comments to ask for more information or suggest improvements. Avoid answering questions in comments.">Add a comment</a>
                                    </div>
                                    <div class="collapse border-top border-top-gray mt-2 pt-3" id="addCommentCollapse">
                                        <form method="post" action="/comments"  class="row pb-3">
                                            <div class="col-lg-12">
                                                <h4 class="fs-16 pb-2">Leave a Comment</h4>
                                                <div class="divider mb-2"><span></span></div>
                                            </div><!-- end col-lg-12 -->
                                            <div class="col-lg-6">
                                                <div class="input-box">
                                                    <label class="fs-13 text-black lh-20">Name</label>
                                                    <div class="form-group">
                                                        <input class="form-control form--control form-control-sm fs-13" type="text" name="text" placeholder="Your name">
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-6 -->
                                            <div class="col-lg-6">
                                                <div class="input-box">
                                                    <label class="fs-13 text-black lh-20">Email (Address never made public)</label>
                                                    <div class="form-group">
                                                        <input class="form-control form--control form-control-sm fs-13" type="text" name="text" placeholder="Your email">
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-6 -->
                                            <div class="col-lg-12">
                                                <div class="input-box">
                                                    <label class="fs-13 text-black lh-20">Website</label>
                                                    <div class="form-group">
                                                        <input class="form-control form--control form-control-sm fs-13" type="text" name="text" placeholder="Website link">
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-12 -->
                                            <div class="col-lg-12">
                                                <div class="input-box">
                                                    <label class="fs-13 text-black lh-20">Message</label>
                                                    <div class="form-group">
                                                        <textarea class="form-control form--control form-control-sm fs-13" name="message_comment" rows="5" placeholder="Your comment here..."></textarea>
                                                        <div class="d-flex flex-wrap align-items-center pt-2">
                                                            <div class="badge bg-gray border border-gray mr-3 fw-regular fs-13">[named hyperlinks] (https://example.com)</div>
                                                            <div class="mr-3 fw-bold fs-13">**bold**</div>
                                                            <div class="mr-3 font-italic fs-13">_italic_</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-12 -->
                                            <div class="col-lg-12">
                                                <div class="input-box d-flex flex-wrap align-items-center justify-content-between">
                                                    <div>
                                                        <div class="custom-control custom-checkbox fs-13">
                                                            <input type="checkbox" class="custom-control-input" id="getNewComments">
                                                            <label class="custom-control-label custom--control-label" for="getNewComments">Notify me of new comments vai email.</label>
                                                        </div>
                                                        <div class="custom-control custom-checkbox fs-13">
                                                            <input type="checkbox" class="custom-control-input" id="getNewPosts">
                                                            <label class="custom-control-label custom--control-label" for="getNewPosts">Notify me of new posts vai email.</label>
                                                        </div>
                                                    </div>
                                                    <button class="btn theme-btn theme-btn-sm theme-btn-outline theme-btn-outline-gray" type="submit" name="comment_details" value="<%= Question._id %>">Post Comment</button>
                                                </div>
                                            </div><!-- end col-lg-12 -->
                                        </form>
                                    </div><!-- end collapse -->
                                </div>
                            </div><!-- end comments-wrap -->
                        </div><!-- end question-post-body-wrap -->
                    </div><!-- end question -->
                    <div class="subheader d-flex align-items-center justify-content-between">
                        <div class="subheader-title">
                            <h3 class="fs-16">Answers</h3>
                        </div><!-- end subheader-title -->
                        
                    </div><!-- end subheader -->
                    <% for (var i = 0; i < Answers.length; i++) { %>
                    <div class="answer-wrap d-flex">
                        <div class="votes votes-styled w-auto">
                            <div id="vote2" class="upvotejs">
                                <a class="upvote upvote-on" data-toggle="tooltip" data-placement="right" title="This question is useful"></a>
                                <span class="count">2</span>
                                <a class="downvote" data-toggle="tooltip" data-placement="right" title="This question is not useful"></a>
                                <a class="star check star-on" data-toggle="tooltip" data-placement="right" title="The question owner accepted this answer"></a>
                            </div>
                        </div><!-- end votes -->
                        <div class="answer-body-wrap flex-grow-1">
                            <div class="answer-body">
                                <p><%= Answers[i].answer %> </p>
                                          
                            </div><!-- end answer-body -->
                            <div class="question-post-user-action">
                                <div class="post-menu">
                                    <button class="btn dropdown-toggle after-none" type="button" id="shareDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Share</button>
                                    <button class="btn dropdown-toggle after-none" type="button" id="shareDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Edit</button>
                                    <button class="btn dropdown-toggle after-none" type="button" id="shareDropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Follow</button>
                                
                                    <div class="btn-group">
                                       
                                    </div><!-- btn-group -->
                                    
                                </div>
                                <div class="media media-card user-media align-items-center">
                                    <a href="user-profile.html" class="media-img d-block">
                                        <img src="images/img4.jpg" alt="avatar">
                                    </a>
                                    <div class="media-body d-flex align-items-center justify-content-between">
                                        <div>
                                            <h5 class="pb-1"><a href="user-profile.html">User</a></h5>
                                            <div class="stats fs-12 d-flex align-items-center lh-18">
                                                <span class="text-black pr-2">15.5k</span>
                                                <span class="pr-2 d-inline-flex align-items-center"><span class="ball gold"></span>3</span>
                                                <span class="pr-2 d-inline-flex align-items-center"><span class="ball silver"></span>10</span>
                                                <span class="pr-2 d-inline-flex align-items-center"><span class="ball"></span>26</span>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div><!-- end media -->
                                <div class="media media-card user-media align-items-center">
                                    <div class="media-body d-flex align-items-center justify-content-end">
                                        <a href="#" class="meta d-block text-right fs-13 text-color">
                                            <span class="d-block lh-18">Answered</span>
                                            <span class="d-block lh-18 fs-12"><%= Answers[i].date_answer %></span>
                                        </a>
                                    </div>
                                </div><!-- end media -->
                            </div><!-- end question-post-user-action -->
                            <div class="comments-wrap">
                                <ul class="comments-list">
                                    <li>
                                        <div class="comment-actions">
                                            <span class="comment-score">1</span>
                                        </div>
                                        <div class="comment-body">
                                            <span class="comment-copy">Thank you!</span>
                                            <span class="comment-separated">-</span>
                                            <a href="#" class="comment-user owner" title="224,110 reputation">Sailendra Damaraju</a>
                                            <span class="comment-separated"></span>
                                         
                                            <!-- <%=  today1 = new Date(); %>
                                            <%= dateQuest1 = today1.getFullYear()+'-'+(today1.getMonth()+1)+'-'+today1.getDate();
                                            %> -->
                                            

                                            <a href="#" class="comment-date"><%= Answers[i].date_answer %> </a>
                                        </div>
                                    </li>
                                </ul>
                                <div class="comment-form">
                                    <div class="comment-link-wrap text-center">
                                        <a class="collapse-btn comment-link" data-toggle="collapse" href="#addCommentCollapseTwo" role="button" aria-expanded="false" aria-controls="addCommentCollapseTwo" title="Use comments to ask for more information or suggest improvements. Avoid answering questions in comments.">Add a comment</a>
                                    </div>
                                    <div class="collapse border-top border-top-gray mt-2 pt-3" id="addCommentCollapseTwo">
                                        <form method="post" action="/answercomment" class="row pb-3">
                                            <div class="col-lg-12">
                                                <h4 class="fs-16 pb-2">Leave a Comment</h4>
                                                <div class="divider mb-2"><span></span></div>
                                            </div><!-- end col-lg-12 -->
                                            <div class="col-lg-6">
                                                <div class="input-box">
                                                    <label class="fs-13 text-black lh-20">Name</label>
                                                    <div class="form-group">
                                                        <input class="form-control form--control form-control-sm fs-13" type="text" name="text" placeholder="Your name">
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-6 -->
                                            <div class="col-lg-6">
                                                <div class="input-box">
                                                    <label class="fs-13 text-black lh-20">Email (Address never made public)</label>
                                                    <div class="form-group">
                                                        <input class="form-control form--control form-control-sm fs-13" type="text" name="text" placeholder="Your email">
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-6 -->
                                            <div class="col-lg-12">
                                                <div class="input-box">
                                                    <label class="fs-13 text-black lh-20">Website</label>
                                                    <div class="form-group">
                                                        <input class="form-control form--control form-control-sm fs-13" type="text" name="text" placeholder="Website link">
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-12 -->
                                            <div class="col-lg-12">
                                                <div class="input-box">
                                                    <label class="fs-13 text-black lh-20">Message</label>
                                                    <div class="form-group">
                                                        <textarea class="form-control form--control form-control-sm fs-13" name="messageanswer_comment" rows="5" placeholder="Your comment here..."></textarea>
                                                        <div class="d-flex flex-wrap align-items-center pt-2">
                                                            <div class="badge bg-gray border border-gray mr-3 fw-regular fs-13">[named hyperlinks] (https://example.com)</div>
                                                            <div class="mr-3 fw-bold fs-13">**bold**</div>
                                                            <div class="mr-3 font-italic fs-13">_italic_</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- end col-lg-12 -->
                                            <div class="col-lg-12">
                                                <div class="input-box d-flex flex-wrap align-items-center justify-content-between">
                                                    <div>
                                                    
                                                    </div>
                                                    <button class="btn theme-btn theme-btn-sm theme-btn-outline theme-btn-outline-gray" type="submit" name="answercomment_details" value="<%= Question._id %>">Post Comment</button>
                                                </div>
                                            </div><!-- end col-lg-12 -->
                                        </form>
                                    </div><!-- end collapse -->
                                </div>
                            </div><!-- end comments-wrap -->
                        </div><!-- end answer-body-wrap -->
                    </div><!-- end answer-wrap -->
                    <% } %>
                    <div class="subheader">
                        <div class="subheader-title">
                            <h3 class="fs-16">Your Answer</h3>
                        </div><!-- end subheader-title -->
                    </div><!-- end subheader -->
                    <div class="post-form">
                        <form method="post" action="/answers" class="pt-3">
                            <div class="input-box">
                                
                                <div class="form-group">
                                    <textarea class="form-control form--control form-control-sm fs-13 user-text-editor" name="message" rows="5" placeholder="Your answer here...">Your answer here...</textarea>
                                </div>
                            </div>
                            <div class="input-box">
                                <label class="fs-14 text-black fw-medium">Image</label>
                                <div class="form-group">
                                    <div class="file-upload-wrap file-upload-layout-2">
                                        <input type="file" name="ansFiles" class="file-upload-input" multiple>
                                        <span class="file-upload-text d-flex align-items-center justify-content-center"><i class="la la-cloud-upload mr-2 fs-24"></i>Drop files here or click to upload.</span>
                                    </div>
                                </div>
                            </div><!-- end input-box -->
                            <button class="btn theme-btn theme-btn-sm" type="submit" name="answer_details" value="<%= Question._id %>" >Post Your Answer</button>
                        </form>
                    </div>
                </div><!-- end question-main-bar -->
            </div><!-- end col-lg-9 -->
            <div class="col-lg-3">
                <div class="sidebar">
                   
                    <div class="card card-item">
                        <div class="card-body">
                            <h3 class="fs-17 pb-3">Related Questions</h3>
                            <div class="divider"><span></span></div>
                            <div class="sidebar-questions pt-3">
                                <div class="media media-card media--card media--card-2">
                                    <div class="media-body">
                                        <h5><a href="#">Why Regional Films are being dubbed in Hindi?</a></h5>
                                        <small class="meta">
                                            <span class="pr-1">2 mins ago</span>
                                            <span class="pr-1">. by</span>
                                            <a href="#" class="author">Ajay Devgn</a>
                                        </small>
                                    </div>
                                </div><!-- end media -->
                                <div class="media media-card media--card media--card-2">
                                    <div class="media-body">
                                        <h5><a href="#">Why do Regional Films need to dub in other languages?</a></h5>
                                        <small class="meta">
                                            <span class="pr-1">48 mins ago</span>
                                            <span class="pr-1">. by</span>
                                            <a href="#" class="author">Ajay Devgn</a>
                                        </small>
                                    </div>
                                </div><!-- end media -->
                                <div class="media media-card media--card media--card-2">
                                    <div class="media-body">
                                        <h5><a href="#">Why Ajay Devgn stuck at herd mentality in making hindi films?</a></h5>
                                        <small class="meta">
                                            <span class="pr-1">1 hour ago</span>
                                            <span class="pr-1">. by</span>
                                            <a href="#" class="author">RGV</a>
                                        </small>
                                    </div>
                                </div><!-- end media -->
                            </div><!-- end sidebar-questions -->
                        </div>
                    </div><!-- end card -->
                    <div class="card card-item">
                        <div class="card-body">
                            <h3 class="fs-17 pb-3">Trending Tags</h3>
                            <div class="divider"><span></span></div>
                            <div class="tags pt-4">
                                <div class="tag-item">
                                    <a href="#" class="tag-link tag-link-md">bollywood</a>
                                    <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                                </div><!-- end tag-item -->
                                <div class="tag-item">
                                    <a href="#" class="tag-link tag-link-md">cryptocurrency</a>
                                    <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                                </div><!-- end tag-item -->
                                <div class="tag-item">
                                    <a href="#" class="tag-link tag-link-md">regional</a>
                                    <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                                </div><!-- end tag-item -->
                                <div class="tag-item">
                                    <a href="#" class="tag-link tag-link-md">hindi</a>
                                    <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                                </div>
                                <div class="collapse" id="showMoreTags">
                                    <div class="tag-item">
                                        <a href="#" class="tag-link tag-link-md">ajaydevgn</a>
                                        <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                                    </div><!-- end tag-item -->
                                    <div class="tag-item">
                                        <a href="#" class="tag-link tag-link-md">rgv</a>
                                        <span class="item-multiplier fs-13">
                                    <span>×</span>
                                    <span>32924</span>
                                </span>
                                   </div>
                                </div><!-- end collapse -->
                                
                            </div>
                        </div>
                    </div><!-- end card -->
                    
                </div><!-- end sidebar -->
            </div><!-- end col-lg-3 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end question-area -->
<div class="theme-layout">
		
		
	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">© Your Sawaal 2022. All rights reserved.</span>
				
				</div>
			</div>
		</div>
	</div><!-- bottom bar -->
</div>


<!-- end back to top -->
<script src="/app/js/main.min.js"></script>
	
	<script src="/app/js/script.js"></script>
<!-- template js files -->
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery-te-1.4.0.min.js"></script>
<script src="/js/upvote.vanilla.js"></script>
<script src="/js/upvote-script.js"></script>
<script src="/js/selectize.min.js"></script>
<script src="/js/jquery.multi-file.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>