<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>Your Sawaal :: Search</title>
		<link rel="icon" href="images/logo.jpg" type="image/png" sizes="16x16"> 
		
		<link rel="stylesheet" href="css/main.min.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/color.css">
		<link rel="stylesheet" href="css/responsive.css">
	<style>
		::selection{
  color: #fff;
  background: #6665ee;
}
.wrapper{
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  max-width: 380px;
  width: 100%;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.wrapper header{
  font-size: 22px;
  font-weight: 600;
}
.wrapper .poll-area{
  margin: 20px 0 15px 0;
}
.poll-area label{
  display: block;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px 15px;
  border: 2px solid #e6e6e6;
  transition: all 0.2s ease;
}
.poll-area label:hover{
  border-color: #ddd;
}
label.selected{
  border-color: #6665ee!important;
}
label .row{
  display: flex;
  pointer-events: none;
  justify-content: space-between;
}
label .row .column{
  display: flex;
  align-items: center;
}
label .row .circle{
  height: 19px;
  width: 19px;
  display: block;
  border: 2px solid #ccc;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
label.selected .row .circle{
  border-color: #6665ee;
}
label .row .circle::after{
  content: "";
  height: 11px;
  width: 11px;
  background: #6665ee;
  border-radius: inherit;
  position: absolute;
  left: 2px;
  top: 2px;
  display: none;
}
.poll-area label:hover .row .circle::after{
  display: block;
  background: #e6e6e6;
}
label.selected .row .circle::after{
  display: block;
  background: #6665ee!important;
}
label .row span{
  font-size: 16px;
  font-weight: 500;
}
label .row .percent{
  display: none;
}
label .progress{
  height: 7px;
  width: 100%;
  position: relative;
  background: #f0f0f0;
  margin: 8px 0 3px 0;
  border-radius: 30px;
  display: none;
  pointer-events: none;
}
label .progress:after{
  position: absolute;
  content: "";
  height: 100%;
  background: #ccc;
  width: calc(1% * var(--w));
  border-radius: inherit;
  transition: all 0.2s ease;
}
label.selected .progress::after{
  background: #6665ee;
}
label.selectall .progress,
label.selectall .row .percent{
  display: block;
}
input[type="radio"],
input[type="checkbox"]{
  display: none;
}
	</style>
	</head>
	<body>
	<div class="wavy-wraper">
			<div class="wavy">
			  <span style="--i:1;">Y</span>
			  <span style="--i:2;">o</span>
			  <span style="--i:3;">u</span>
			  <span style="--i:4;">r</span>
			  <span style="--i:5;">S</span>
			  <span style="--i:6;">a</span>
			  <span style="--i:7;">w</span>
			  <span style="--i:8;">a</span>
			  <span style="--i:9;">a</span>
			  <span style="--i:10;">l</span>
			</div>
		</div>
	<div class="theme-layout">
		
		
		
		<div class="topbar stick">
			<div class="logo">
				<a title="" href="#"><img height="100" src="images/logo.jpeg" alt=""></a>
			</div>
			<div class="top-area">
				
				<div class="top-search">
					<form method="post" class="" action="/search">
						<input type="text" placeholder="Search Questions, Groups etc" name="search_querry">
						<button data-ripple><i class="ti-search"></i></button>
					</form>
				</div>
				<div class="page-name">
					<span> Timeline</span>
				 </div>
				<ul class="setting-area">
					
				
					<li><a href="#" title="Languages" data-ripple=""><i class="fa fa-globe"></i><em>EN</em></a>
					
					</li>
					
				</ul>
				<div class="user-img">
					<h5>Sailendra Damaraju</h5>
					<img src="images/resources/company1.png" alt="">
					
					<div class="user-setting">
						
						<ul class="log-out">
							<li><a href="view-profile.html" title=""><i class="ti-user"></i> view profile</a></li>
							<li><a href="edit-profile.html" title=""><i class="ti-pencil-alt"></i>edit profile</a></li>
							
							<li><a href="#" title=""><i class="ti-power-off"></i>log out</a></li>
						</ul>
					</div>
				</div>
				</div>
			
		</div><!-- topbar -->
		
		
		
		
		<div class="fixed-sidebar left">
			<div class="menu-left">
				<ul class="left-menu">
					<li>
						<a href="C:\Users\stack\Desktop\Your Sawaal\questions\questions.html" title="Questions" data-toggle="tooltip" data-placement="right">
							<i class="ti-magnet"></i>
						</a>
					</li>
					<li>
						<a href="C:\Users\stack\Desktop\Your Sawaal\groups\timeline.html" title="Groups" data-toggle="tooltip" data-placement="right">
							<i class="fa fa-users"></i>
						</a>
					</li>
					<li>
						<a href="C:\Users\stack\Desktop\Your Sawaal\questions\question-details.html" title="Answer" data-toggle="tooltip" data-placement="right">
							<i class="fa fa-forumbee"></i>
						</a>
					</li>
					
					
					
				</ul>
			</div>
			
		</div><!-- left sidebar menu -->
			
	<section>
		<div class="gap2 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="col-lg-12">
								<div class="search-meta">
									<span>Your search result for " <i>{<%=keyword%>}</i> " 30</span>
								</div>
							</div>
							<div class="col-lg-3">
								<aside class="sidebar static left">
									<div class="widget">
										<h4 class="widget-title">Filter Search</h4>
										<form class="c-form search" method="post">
											<div>
												<label>Category</label>
												<div class="form-radio">
												  <div class="radio">
													<label>
													  <input type="radio" checked="checked" name="radio"><i class="check-box"></i>Technology
													</label>
												  </div>
												  <div class="radio">
													<label>
													  <input type="radio" name="radio"><i class="check-box"></i>General
													</label>
												  </div>
													<div class="radio">
													<label>
													  <input type="radio" name="radio"><i class="check-box"></i>Social
													</label>
												  </div>
												</div>
											</div>
											<div>
												<label>Search within </label>
												<div class="form-radio">
													<div class="radio">
														<label>
													  		<input type="radio" checked="checked" name="radio"><i class="check-box"></i>Public
														</label>
													</div>
													
													<div class="radio">
														<label>
														  <input type="radio" name="radio"><i class="check-box"></i>Your Followers
														</label>
													</div>
													<div class="radio">
														<label>
														  <input type="radio" name="radio"><i class="check-box"></i>Your Group and pages
														</label>
													</div>
												</div>
											</div>
											
											<div>
												<label>Hashtags</label>
												<div class="form-radio">
													<div class="radio">
														<label>
													  		<input type="radio" checked="checked" name="radio"><i class="check-box"></i>#Agnipath
														</label>
													</div>
													<div class="radio">
														<label>
													  		<input type="radio" name="radio"><i class="check-box"></i>#Australia
														</label>
													</div>
												</div>
											</div>
											<div>
												<label>Location</label>
												<div class="form-radio">
													<div class="radio">
														<label>
													  		<input type="radio" checked="checked" name="radio"><i class="check-box"></i>India
														</label>
													</div>
													<div class="radio">
														<label>
													  		<input type="radio" name="radio"><i class="check-box"></i>All Countries
														</label>
													</div>
													
												</div>
											</div>
										</form>	
									</div>
									
									
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-9">
								<div class="search-tab">
									<ul class="nav nav-tabs tab-btn">
		                                 <li class="nav-item"><a class="active" href="#All" data-toggle="tab">All</a></li>
		                                 <li class="nav-item"><a class="" href="#people" data-toggle="tab">People</a></li>
		                                 <li class="nav-item"><a class="" href="#questions" data-toggle="tab">Questions</a></li>
		                                 <li class="nav-item"><a class="" href="#posts" data-toggle="tab">Posts</a></li>
		                                 <li class="nav-item"><a class="" href="#groups" data-toggle="tab">Groups</a></li>
		                            </ul>

									<!-- Tab panes -->
									<div class="tab-content">
									  	<div class="tab-pane active fade show " id="All" >
									  		<div class="central-meta item">
									  			<span class="create-post">Questions<a title="" href="/">See All</a></span>
												<div class="user-post">
													<div class="friend-info">
														<figure>
															<img src="images/resources/nearly2.jpg" alt="">
														</figure>
														<% questions.forEach(function(question){ %>
														<div class="friend-name">
															<div class="more">
																<div class="more-post-optns"><i class="ti-more-alt"></i>
																	<ul>
																		<li class="send-mesg"><i class="fa fa-comment"></i>Send Message</li>
																	</ul>
																</div>
															</div>
															<ins><a href="/user/viewprofile/<%=question.author%>" title=""><%=question.author%></a><%=question.title%></ins>
															<span><i class="fa fa-globe"></i> published:  </span>
															<form action="/questions/<%=question._id%>" method="post">
                        
																<!-- <p class="mb-2 truncate lh-20 fs-15"> <%= question.details %></p> -->
																<button id="details" type="submit" name="question_details" value="<%= question._id %>" onclick="views()">Details</button>
																</form>
														</div>
														<% }) %>

                                                        <div class="central-meta item">
															<span class="create-post">People<a title="" href="#">See All</a></span>
															<% users.forEach(function(user){ %>
															<div class="pit-friends">
																<figure><a href="#" title=""><img src="images/resources/searching1.jpg" alt=""></a></figure>
																<div class="pit-frnz-meta">
																	<a href="/user/viewprofile/<%=user._id%>" title=""><%=user.name%></a>
																	<i>Tornoto</i>
																	<ul class="add-remove-frnd">
																		<li class="add-tofrndlist">
																			<form action="/user/followuser/<%=user._id%>" method="post">
																				<button value="<%=user._id%>" type="submit" name="follower_id">Follow</button>
																				</form>
																		</li>
																		<li class="remove-frnd">
																			<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
																		</li>
																	</ul>
																</div>
															</div>
															<% }) %>
														</div>

														<div class="central-meta item">
															<span class="create-post">Posts<a title="" href="#">See All</a></span>
															<div class="user-post">
																<% posts.forEach(function(post){ %>
																<div class="friend-info">
																	<figure>
																		<img src="images/resources/nearly2.jpg" alt="">
																	</figure>
																	<div class="friend-name">
																		<div class="more">
																			<div class="more-post-optns"><i class="ti-more-alt"></i>
																				<ul>
																					<li><i class="fa fa-comment"></i>Send Message</li>
																				</ul>
																			</div>
																		</div>
																		<ins><a href="/userpost/timeline/<%=post.author%>" title=""><%=post.author%></a><%=post.body%> </ins>
																		<span><i class="fa fa-globe"></i> published: <%=post.created_on%>  </span>
																		
																	</div>
																	<!-- <div class="post-meta searched">
																		<div class="linked-image align-right">
																			<a href="#" title=""><img src="images/resources/search-2.jpg" alt=""></a>
																		</div>
																		<div class="detail">
																			<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor incididunt ut labor... </p>
																		</div>		 -->
																		
																	</div>
																</div>
																<% }) %>
															</div>
															
														</div>

														<div class="tab-pane fade" id="groups">
															<div class="central-meta item">
																<span class="create-post">Groups<a title="" href="#">See All</a></span>
																<% groups.forEach(function(group){ %>
																<div class="pit-groups">
																	<figure><a href="/post/grouptimeline/<%= group.group_name %>" title=""><img src="images/resources/jackgroup1.jpg" alt=""></a></figure>
																	<div class="pit-groups-meta">
																		<a href="/post/grouptimeline/<%= group.group_name %>" title=""><%=group.group_name%></a>
																		<i>Group · <%=group.members.length%> members · 510 posts a day</i>
																		<ul class="add-remove-frnd">
																			<li class="add-tofrndlist">
																				<form action="/groups/join/<%= group.group_name %>" method="post">
																					<button type="submit" >Join</button> 
																				</form>
																				
																			</li>
																		</ul>
																	</div>
																</div>
																<% }) %>
															</div>	
														</div>
														<div class="post-meta">		
															<figure>
																<div class="img-bunch">
																	<div class="row">
																		<div class="col-lg-4 col-sm-4 col-md-4">
																			<figure>
																				<a class="strip" href="images/resources/album6.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
																				<img src="images/resources/album6.jpg" alt="">
																				</a>
																			</figure>
																		</div>	
																		<div class="col-lg-4 col-sm-4 col-md-4">	
																			<figure>
																				<a class="strip" href="images/resources/album5.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
																				<img src="images/resources/album5.jpg" alt="">
																				</a>
																			</figure>
																		</div>
																		<div class="col-lg-4 col-sm-4 col-md-4">
																			<figure>
																				<a class="strip" href="images/resources/album4.jpg" title="" data-strip-group="mygroup" data-strip-group-options="loop: false">
																				<img src="images/resources/album4.jpg" alt="">
																				</a>
																				<div class="more-photos">
																					<span>+15</span>
																				</div>
																			</figure>
																		</div>
																	</div>
																</div>
															</figure>	
														</div>
													</div>

												</div>
											</div><!-- picture album -->
											<!-- <div class="central-meta item">
												<span class="create-post">Questions<a title="" href="#">See All</a></span>
												<div class="user-post">
													<div class="friend-info">
														<figure>
															<img src="images/resources/nearly2.jpg" alt="">
														</figure>
														<div class="friend-name">
									
															<ins><a href="time-line.html" title="">Jack Carter</a> Posted Question</ins>
															<span><i class="fa fa-globe"></i> published: September,15 2020 19:PM </span>
															
														</div>
														<div class="post-meta searched">
															
															<div class="detail">
																<h6><a href="#">What is your take on Government's Agnipath? </a> </h6>
															</div>		
															
														</div>
													</div>
												</div> -->
												
											</div>
											
											<!-- <div class="central-meta item">
												<span class="create-post">People<a title="" href="#">See All</a></span>
												<% users.forEach(function(user){ %>
												<div class="pit-friends">
													<figure><a href="#" title=""><img src="images/resources/searching1.jpg" alt=""></a></figure>
													<div class="pit-frnz-meta">
														<a href="/user/viewprofile/<%=user._id%>" title=""><%=user.name%></a>
														<i>Tornoto</i>
														<ul class="add-remove-frnd">
															<li class="add-tofrndlist">
																<a title="Add friend" href="#"><i class="fa fa-user-plus"></i></a>
															</li>
															<li class="remove-frnd">
																<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
															</li>
														</ul>
													</div>
												</div>
												<% }) %>
											</div> -->
											
									    </div>
									    <!-- <div class="tab-pane fade" id="people" >
									    	<div class="central-meta item">
												<span class="create-post">People<a title="" href="#">See All</a></span>
												<div class="pit-friends">
													<figure><a href="#" title=""><img src="images/resources/searching1.jpg" alt=""></a></figure>
													<div class="pit-frnz-meta">
														<a href="#" title="">Jack Carter</a>
														<i>Tornoto</i>
														<ul class="add-remove-frnd">
															<li class="add-tofrndlist">
																<a title="Add friend" href="#"><i class="fa fa-user-plus"></i></a>
															</li>
															<li class="remove-frnd">
																<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
															</li>
														</ul>
													</div>
												</div>
												<div class="pit-friends">
													<figure><a href="#" title=""><img src="images/resources/searching2.jpg" alt=""></a></figure>
													<div class="pit-frnz-meta">
														<a href="#" title="">Jack Carter jackson</a>
														<i>Tornoto</i>
														<ul class="add-remove-frnd">
															<li class="add-tofrndlist">
																<a title="Add friend" href="#"><i class="fa fa-user-plus"></i></a>
															</li>
															<li class="remove-frnd">
																<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
															</li>
														</ul>
													</div>
												</div>
												<div class="pit-friends">
													<figure><a href="#" title=""><img src="images/resources/searching3.jpg" alt=""></a></figure>
													<div class="pit-frnz-meta">
														<a href="#" title="">Jack jackson</a>
														<i>manitoba</i>
														<ul class="add-remove-frnd">
															<li class="add-tofrndlist">
																<a title="Add friend" href="#"><i class="fa fa-user-plus"></i></a>
															</li>
															<li class="remove-frnd">
																<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
															</li>
														</ul>
													</div>
												</div>
												<div class="pit-friends">
													<figure><a href="#" title=""><img src="images/resources/searching4.jpg" alt=""></a></figure>
													<div class="pit-frnz-meta">
														<a href="#" title="">Jack william</a>
														<i>Nova Scotia</i>
														<ul class="add-remove-frnd">
															<li class="add-tofrndlist">
																<a title="Add friend" href="#"><i class="fa fa-user-plus"></i></a>
															</li>
															<li class="remove-frnd">
																<a title="Send Message" href="#"><i class="fa fa-comment"></i></a>
															</li>
														</ul>
													</div>
												</div>
											</div> searched peoples -->
									    <!-- </div>
									    <div class="tab-pane fade" id="questions">
											<div class="central-meta item">
												<span class="create-post">Questions<a title="" href="#">See All</a></span>
												<div class="user-post">
													<div class="friend-info">
														<figure>
															<img src="images/resources/nearly2.jpg" alt="">
														</figure>
														<div class="friend-name">
									
															<ins><a href="time-line.html" title="">Jack Carter</a> Posted Question</ins>
															<span><i class="fa fa-globe"></i> published: September,15 2020 19:PM </span>
															
														</div>
														<div class="post-meta searched">
															
															<div class="detail">
																<h6><a href="#">What is your take on Government's Agnipath? </a> </h6>
															</div>		
															
														</div>
													</div>
												</div>
												
											</div>

											<div class="central-meta item">
												<span class="create-post">Questions<a title="" href="#">See All</a></span>
												<div class="user-post">
													<div class="friend-info">
														<figure>
															<img src="images/resources/nearly2.jpg" alt="">
														</figure>
														<div class="friend-name">
									
															<ins><a href="time-line.html" title="">Sailendra Damaraju</a> Posted Question</ins>
															<span><i class="fa fa-globe"></i> published: September,15 2020 19:PM </span>
															
														</div>
														<div class="post-meta searched">
															
															<div class="detail">
																<h6><a href="#">Why Global Markets are falling?? </a> </h6>
															</div>		
															
														</div>
													</div>
												</div>
												
											</div>
										</div> --> 
									   
									    <!-- <div class="tab-pane fade" id="posts">
									    	<div class="central-meta item">
												<span class="create-post">Posts<a title="" href="#">See All</a></span>
												<div class="user-post">
													<% posts.forEach(function(post){ %>
													<div class="friend-info">
														<figure>
															<img src="images/resources/nearly2.jpg" alt="">
														</figure>
														<div class="friend-name">
															<div class="more">
																<div class="more-post-optns"><i class="ti-more-alt"></i>
																	<ul>
																		<li><i class="fa fa-comment"></i>Send Message</li>
																	</ul>
																</div>
															</div>
															<ins><a href="/userpost/timeline/<%=post.author%>" title=""><%=post.author%></a><%=post.body%> </ins>
															<span><i class="fa fa-globe"></i> published: <%=post.created_on%>  </span>
															
														</div> -->
														<!-- <div class="post-meta searched">
															<div class="linked-image align-right">
																<a href="#" title=""><img src="images/resources/search-2.jpg" alt=""></a>
															</div>
															<div class="detail">
																<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempor incididunt ut labor... </p>
															</div>		 -->
															
														<!-- </div>
													</div>
													<% }) %>
												</div>
												
											</div>
									    </div>
									    
									    <div class="tab-pane fade" id="groups">
									    	<div class="central-meta item">
												<span class="create-post">Groups<a title="" href="#">See All</a></span>
												<% groups.forEach(function(group){ %>
												<div class="pit-groups">
													<figure><a href="/groups/grouphome/<%=group.group_name%>" title=""><img src="images/resources/jackgroup1.jpg" alt=""></a></figure>
													<div class="pit-groups-meta">
														<a href="#" title=""><%=group.group_name%></a>
														<i>Group · <%=group.members.length%> members · 510 posts a day</i>
														<ul class="add-remove-frnd">
															<li class="add-tofrndlist">
																<a title="Add friend" href="#"><i class="fa fa-plus"></i> Join</a>
															</li>
														</ul>
													</div>
												</div>
												<% }) %> -->
												<!-- <div class="pit-groups">
													<figure><a href="#" title=""><img src="images/resources/jackgroup2.jpg" alt=""></a></figure>
													<div class="pit-groups-meta">
														<a href="#" title="">Jack Carter</a>
														<i>Group · 4.2K members · 510 posts a day</i>
														<ul class="add-remove-frnd">
															<li class="add-tofrndlist">
																<a title="Add friend" href="#"><i class="fa fa-plus"></i> Join</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="pit-groups">
													<figure><a href="#" title=""><img src="images/resources/jackgroup3.jpg" alt=""></a></figure>
													<div class="pit-groups-meta">
														<a href="#" title="">Jack & Jack</a>
														<i>Group · 4.2K members · 510 posts a day</i>
														<ul class="add-remove-frnd">
															<li class="add-tofrndlist">
																<a title="Add friend" href="#"><i class="fa fa-plus"></i> Join</a>
															</li>
														</ul>
													</div>
												</div> -->
											</div><!-- searched groups -->
									    </div>
									</div>
									<div class="central-meta item">
										<span class="create-post">Related Searches</span>
										<ul class="related-searches">
											<li><a href="#" title="">#GlobalMarkets</a></li>
											<li><a href="#" title="">#Agnipath</a></li>
											
										</ul>
									</div><!-- Related Searches -->
								</div>	
							</div>
							
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>


	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">© Your Sawaal 2022. All rights reserved.</span>
				
				</div>
			</div>
		</div>
	</div><!-- bottom bar -->
</div>

	<script>
		const options = document.querySelectorAll("label");
for (let i = 0; i < options.length; i++) {
  options[i].addEventListener("click", ()=>{
    for (let j = 0; j < options.length; j++) {
      if(options[j].classList.contains("selected")){
        options[j].classList.remove("selected");
      }
    }
    options[i].classList.add("selected");
    for (let k = 0; k < options.length; k++) {
      options[k].classList.add("selectall");
    }
    let forVal = options[i].getAttribute("for");
    let selectInput = document.querySelector("#"+forVal);
    let getAtt = selectInput.getAttribute("type");
    if(getAtt == "checkbox"){
      selectInput.setAttribute("type", "radio");
    }else if(selectInput.checked == true){
      options[i].classList.remove("selected");
      selectInput.setAttribute("type", "checkbox");
    }
    let array = [];
    for (let l = 0; l < options.length; l++) {
      if(options[l].classList.contains("selected")){
        array.push(l);
      }
    }
    if(array.length == 0){
      for (let m = 0; m < options.length; m++) {
        options[m].removeAttribute("class");
      }
    }
  });
}
	</script>
	<script src="js/main.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
	<script src="js/locationpicker.jquery.js"></script>
	<script src="js/map-init.js"></script>
	<script src="js/script.js"></script>
	<script>
		jQuery(document).ready(function($) {
			
			$('#us3').locationpicker({
			  location: {
			    latitude: -8.681013,
			    longitude: 115.23506410000005
			  },
			  radius: 0,
			  inputBinding: {
			    latitudeInput: $('#us3-lat'),
			    longitudeInput: $('#us3-lon'),
			    radiusInput: $('#us3-radius'),
			    locationNameInput: $('#us3-address')
			  },
			  enableAutocomplete: true,
			  onchanged: function (currentLocation, radius, isMarkerDropped) {
			    // Uncomment line below to show alert on each Location Changed event
			    //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
			  }
			});

		});	
</script>

</body>	
</html>