<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Your Sawaal :: Groups</title>
    <link rel="icon" href="images/logo.jpg" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
	<div class="wavy-wraper">
		<div class="wavy">
		  <span style="--i:1;">Y</span>
		  <span style="--i:2;">o</span>
		  <span style="--i:3;">u</span>
		  <span style="--i:4;">r</span>
		  <span style="--i:5;">S</span>
		  <span style="--i:6;">a</span>
		  <span style="--i:7;">w</span>
		  <span style="--i:8;">a</span>
		  <span style="--i:9;">a</span>
		  <span style="--i:10;">l</span>
		</div>
	</div>
<div class="theme-layout">
	
	
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="#"><img height="100" src="/images/logo.jpeg" alt=""></a>
		</div>
		<div class="top-area">
			
			<div class="top-search">
				<form method="post" class="" action="/search">
                    <input type="text" placeholder="Search Questions, Groups etc" name="search_querry">
                    <button data-ripple><i class="ti-search"></i></button>
                </form>
			</div>
			<div class="page-name">
			    <span> My Groups</span>
			 </div>
			<ul class="setting-area">
				
			
				<li><a href="#" title="Languages" data-ripple=""><i class="fa fa-globe"></i><em>EN</em></a>
				
				</li>
				
			</ul>
			<div class="user-img">
				<h5><%=User.name%></h5>
				<img src="/images/resources/company1.png" alt="">
					<div class="user-setting">
					
					<ul class="log-out">
						<li><a href="/user/viewprofile/<%=User._id%>" title=""><i class="ti-user"></i> view profile</a></li>
						<% if (LOG_user==User._id){ %>
						<li><a href="/user/update/<%=User._id%>" title=""><i class="ti-pencil-alt"></i>edit profile</a></li>
						<% } %>
						<li><a href="/user/logout" title=""><i class="ti-power-off"></i>log out</a></li>
					</ul>
				</div>
			</div>
			</div>
		
	</div><!-- topbar -->
	
	
	
	
	<div class="fixed-sidebar left">
		<div class="menu-left">
			<ul class="left-menu">
				
				
				<li>
					<a href="C:\Users\stack\Desktop\Your Sawaal\questions\questions.html" title="Questions" data-toggle="tooltip" data-placement="right">
						<i class="ti-magnet"></i>
					</a>
				</li>
				<li>
					<a href="C:\Users\stack\Desktop\Your Sawaal\groups\timeline.html" title="Groups" data-toggle="tooltip" data-placement="right">
						<i class="fa fa-users"></i>
					</a>
				</li>
				<li>
					<a href="C:\Users\stack\Desktop\Your Sawaal\questions\question-details.html" title="Answer" data-toggle="tooltip" data-placement="right">
						<i class="fa fa-forumbee"></i>
					</a>
				</li>
			
				
				
				
				
			</ul>
		</div>
		
	</div><!-- left sidebar menu -->
		
	<section>
		<div class="gap2 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="user-profile">
								<figure>
									<div class="edit-pp">
										<label class="fileContainer">
											<i class="fa fa-camera"></i>
											<input type="file">
										</label>
									</div>
									<img src="/images/resources/profile-image.jpg" alt="">
									<ul class="profile-controls">
										<form action="/user/followuser/<%=User._id%>" method="post">
											<button value="<%=User._id%>" type="submit" name="follower_id">Follow</button>
											</form>
										<!-- <li><a href="#" title="Follow" data-toggle="tooltip"><i class="fa fa-user-plus"></i></a></li> -->
										<!-- <li><a href="#" title="UnFollow" data-toggle="tooltip"><i class="fa fa-star"></i></a></li> -->
										
									</ul>
									
								</figure>
								
								<div class="profile-section">
									<div class="row">
										<div class="col-lg-2 col-md-3">
											<div class="profile-author">
												<div class="profile-author-thumb">
													<img alt="author" src="/images/resources/channel.jpg">
													<div class="edit-dp">
														<label class="fileContainer">
															<i class="fa fa-camera"></i>
															<input type="file">
														</label>
													</div>
												</div>
													
												<div class="author-content">
													<a class="h4 author-name" href="about.html"><%=User.name%></a>
													<div class="country"><%=User.location%>, <%=User.country%></div>
												</div>
											</div>
										</div>
										<div class="col-lg-10 col-md-9">
											<ul class="profile-menu">
												
												
												<li>
													<a class="" href="/userpost/timeline/<%=User._id%>">Timeline</a>
												</li>
												<li>
													<a class="" href="/user/viewprofile/<%=User._id%>">About</a>
												</li>
												<li>
													<a class="" href="/user/followers/<%=User._id%>">Followers</a>
												</li>
												<li>
													<a class="active" href="/groups/grouphome/<%=User._id%>">Groups</a>
												</li>
												
												
											</ul>
											<ol class="folw-detail">
												<li><span>Posts</span><ins>101</ins></li>
												<li><span>Followers</span><ins><%=User.followers.length%></ins></li>
												<li><span>Following</span><ins><%=User.following.length%></ins></li>
											</ol>
										</div>
									</div>
								</div>	
							</div><!-- user profile banner  -->
							<div class="col-lg-12">
								<div class="central-meta">
									<div class="title-block">
										<div class="row">
											<div class="col-lg-6">
												<div class="align-left">
													<h5>Groups <span>10</span></h5>
												</div>
											</div>
											<div class="col-lg-6">
												<div class="row merged20">
													
													
													
												</div>
											</div>
										</div>
									</div>
								</div><!-- title block -->
								<div class="central-meta padding30">
									<div class="row">
										<% if (LOG_user==User._id){ %>
										<div class="col-lg-2 col-md-4 col-sm-4">
											<div class="addgroup">
												<div class="item-upload">
													<i class="fa fa-plus-circle"></i>
													<div class="upload-meta">
														<h5>Create Group</h5>
														<span>it will take 1 minute!</span>
													</div>
												</div>
											</div>
										</div>
										<% } %>
										<% groups.forEach(function(group){ %>
										<div class="col-lg-2 col-md-4 col-sm-4">
											<div class="group-box">
												<figure><img src="" alt="<%= group.group_name %>"><%= group.group_icon %></figure>
												<a href="/post/grouptimeline/<%= group.group_name %>"  title=""><%= group.group_name %></a>

												
						
												<span></span>
												<button>Manage group</button>
											</div>
										</div>
										<% }) %>
										<!-- <div class="col-lg-2 col-md-4 col-sm-4">
											<div class="group-box">
												<figure><img src="images/resources/top-comunity4.png" alt=""></figure>
												<a href="timeline.html" title="">Global Sports</a>
												<span>12k Members</span>
												<button>Manage group</button>
											</div>
										</div>
										<div class="col-lg-2 col-md-4 col-sm-4">
											<div class="group-box">
												<figure><img src="images/resources/top-comunity5.png" alt=""></figure>
												<a href="timeline.html" title="">Graphic Design</a>
												<span>125M Members</span>
												<button>Manage group</button>
											</div>
										</div>
										<div class="col-lg-2 col-md-4 col-sm-4">
											<div class="group-box">
												<figure><img src="images/resources/top-comunity1.png" alt=""></figure>
												<a href="timeline.html" title="">Politics</a>
												<span>1M Members</span>
												<button>Manage group</button>
											</div>
										</div>
										<div class="col-lg-2 col-md-4 col-sm-4">
											<div class="group-box">
												<figure><img src="images/resources/top-comunity2.png" alt=""></figure>
												<a href="timeline.html" title="">AI</a>
												<span>22M Members</span>
												<button>Manage group</button>
											</div>
										</div> -->
										
									</div>
									<div class="lodmore">
										<span>Viewing 1-5 of 10 Groups</span>
										<button class="btn-view btn-load-more"></button>
									</div>
								</div>
								
							</div>	
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section><!-- content -->

	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">© Your Sawaal 2022. All rights reserved.</span>
				
				</div>
			</div>
		</div>
	</div><!-- bottom bar -->
</div>

	<div class="popup-wraper4">
		<div class="popup creat-group">
			<span class="popup-closed"><i class="ti-close"></i></span>
			<div class="popup-meta">
				<div class="popup-head">
					<h5>Create Group</h5>
				</div>
				<div class="group-adding">
					<div class="friend-group">
						
						<div class="change-photo">
							<figure><img src="images/resources/admin2.jpg" alt=""></figure>
							<div class="edit-img">
								<!-- <form class="edit-phto">
									<label class="fileContainer">
										<i class="fa fa-camera-retro"></i>
										Upload Group Avatar
									<input type="file">
									</label>
								</form> -->
							</div>
						</div>
						<form method="post" action="/groups/creategroup">
							<label class="fileContainer">
								<i class="fa fa-camera-retro"></i>
								Upload Group Avatar
							<input type="file" name="avatar">
							</label>
							<input type="text" name="group_name" placeholder="Group Name">
							<input type="text" name="Category" placeholder="Category">
							<select>
								<option value="Select">Select Type</option>
								<option value="Public Group">Public Group</option>
								<option value="Private Group">Private Group</option>
								
							</select>
							<button class="main-btn" type="submit">Create Group</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div><!-- Create friends Group -->
	

	
	<script src="/js/main.min.js"></script>
	<script src="/js/script.js"></script>

</body>	
</html>