<!DOCTYPE html>
<html lang="en">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<title>Your Sawal :: Timeline</title>
		<link rel="icon" href="/images/logo.jpg" type="image/png" sizes="16x16"> 
		
		<link rel="stylesheet" href="/css/main.min.css">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/color.css">
		<link rel="stylesheet" href="/css/responsive.css">


		<style>
			::selection {
				color: #fff;
				background: #6665ee;
			}
	
			.wrapper {
				background: #fff;
				border-radius: 15px;
				padding: 25px;
				max-width: 380px;
				width: 100%;
				box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
			}
	
			.wrapper header {
				font-size: 22px;
				font-weight: 600;
			}
	
			.wrapper .poll-area {
				margin: 20px 0 15px 0;
			}
	
			.poll-area label {
				display: block;
				margin-bottom: 10px;
				border-radius: 5px;
				padding: 8px 15px;
				border: 2px solid #e6e6e6;
				transition: all 0.2s ease;
			}
	
			.poll-area label:hover {
				border-color: #ddd;
			}
	
			label.selected {
				border-color: #6665ee !important;
			}
	
			label .row {
				display: flex;
				pointer-events: none;
				justify-content: space-between;
			}
	
			label .row .column {
				display: flex;
				align-items: center;
			}
	
			label .row .circle {
				height: 19px;
				width: 19px;
				display: block;
				border: 2px solid #ccc;
				border-radius: 50%;
				margin-right: 10px;
				position: relative;
			}
	
			label.selected .row .circle {
				border-color: #6665ee;
			}
	
			label .row .circle::after {
				content: "";
				height: 11px;
				width: 11px;
				background: #6665ee;
				border-radius: inherit;
				position: absolute;
				left: 2px;
				top: 2px;
				display: none;
			}
	
			.poll-area label:hover .row .circle::after {
				display: block;
				background: #e6e6e6;
			}
	
			label.selected .row .circle::after {
				display: block;
				background: #6665ee !important;
			}
	
			label .row span {
				font-size: 16px;
				font-weight: 500;
			}
	
			label .row .percent {
				display: none;
			}
	
			label .progress {
				height: 7px;
				width: 100%;
				position: relative;
				background: #f0f0f0;
				margin: 8px 0 3px 0;
				border-radius: 30px;
				display: none;
				pointer-events: none;
			}
	
			label .progress:after {
				position: absolute;
				content: "";
				height: 100%;
				background: #ccc;
				width: calc(1% * var(--w));
				border-radius: inherit;
				transition: all 0.2s ease;
			}
	
			label.selected .progress::after {
				background: #6665ee;
			}
	
			label.selectall .progress,
			label.selectall .row .percent {
				display: block;
			}
	
			input[type="radio"],
			input[type="checkbox"] {
				display: none;
			}
		</style>
	
	</head>
	<body>
	<div class="wavy-wraper">
			<div class="wavy">
			  <span style="--i:1;">Y</span>
			  <span style="--i:2;">o</span>
			  <span style="--i:3;">u</span>
			  <span style="--i:4;">r</span>
			  <span style="--i:5;">S</span>
			  <span style="--i:6;">a</span>
			  <span style="--i:7;">w</span>
			  <span style="--i:8;">a</span>
			  <span style="--i:9;">a</span>
			  <span style="--i:10;">l</span>
			</div>
		</div>
	<div class="theme-layout">
		
		
		
		<div class="topbar stick">
			<div class="logo">
				<a title="" href="#"><img height="100" src="/images/logo.jpeg" alt=""></a>
			</div>
			<div class="top-area">
				
				<div class="top-search">
					<form method="post" class="" action="/search">
						<input type="text" placeholder="Search Questions, Groups etc" name="search_querry">
						<button data-ripple><i class="ti-search"></i></button>
					</form>
				</div>
				<div class="page-name">
					<span> Timeline</span>
				 </div>
				<ul class="setting-area">
					
				
					<li><a href="#" title="Languages" data-ripple=""><i class="fa fa-globe"></i><em>EN</em></a>
					
					</li>
					
				</ul>
				<div class="user-img">
					<h5><%= User.name%></h5>
					<img src="/images/resources/company1.png" alt="">
					
					<div class="user-setting">
						
						<ul class="log-out">
							<li><a href="/user/viewprofile/<%= User._id %>" title=""><i class="ti-user"></i> view profile</a></li>
							<% if(login_id==User_id){ %>
							<li><a href="/user/editprofile/<%=User_id%>" title=""><i class="ti-pencil-alt"></i>edit profile</a></li>
							<% } %>
							<li><a href="/user/logout" title=""><i class="ti-power-off"></i>log out</a></li>
						</ul>
					</div>
				</div>
				</div>
			
		</div><!-- topbar -->
		
		
		
		
		<div class="fixed-sidebar left">
			<div class="menu-left">
				<ul class="left-menu">
					<li>
						<a href="C:\Users\stack\Desktop\Your Sawaal\questions\questions.html" title="Questions" data-toggle="tooltip" data-placement="right">
							<i class="ti-magnet"></i>
						</a>
					</li>
					<li>
						<a href="C:\Users\stack\Desktop\Your Sawaal\groups\timeline.html" title="Groups" data-toggle="tooltip" data-placement="right">
							<i class="fa fa-users"></i>
						</a>
					</li>
					<li>
						<a href="C:\Users\stack\Desktop\Your Sawaal\questions\question-details.html" title="Answer" data-toggle="tooltip" data-placement="right">
							<i class="fa fa-forumbee"></i>
						</a>
					</li>
					
					
					
				</ul>
			</div>
			
		</div><!-- left sidebar menu -->
			
	<section>
		<div class="gap2 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="user-profile">
								<figure>
									<div class="edit-pp">
										<label class="fileContainer">
											<i class="fa fa-camera"></i>
											<input type="file">
										</label>
									</div>
									<img src="/images/resources/profile-image.jpg" alt="">
									<ul class="profile-controls">
										<form action="/user/followuser/<%=User._id%>" method="post">
										<li><button value="<%=User._id%>" type="submit" name="follower_id">Follow/Unfollow</button></li>
										
									    </form>
									</ul>
									
								</figure>
								
								<div class="profile-section">
									<div class="row">
										<div class="col-lg-2 col-md-3">
											<div class="profile-author">
												<div class="profile-author-thumb">
													<img alt="author" src="/images/resources/channel.jpg">
													<div class="edit-dp">
														<label class="fileContainer">
															<i class="fa fa-camera"></i>
															<input type="file">
														</label>
													</div>
												</div>
													
												<div class="author-content">
													<a class="h4 author-name" href="/user/viewprofile/<%= User.id%>"><%=User.name%></a>
													<div class="country"><%=User.location%>, <%=User.country%></div>
												</div>
											</div>
										</div>
										<div class="col-lg-10 col-md-9">
											<ul class="profile-menu">
												
												<li>
													<a class="active" href="/userpost/timeline/<%=User._id%>">Timeline</a>
												</li>
												<li>
													<a class="" href="/user/viewprofile/<%=User._id%>">About</a>
												</li>
												<li>
													<a class="" href="/user/followers/<%=User._id%>">Followers</a>
												</li>
												<li>
													<a class="" href="/groups/grouphome/<%=User._id%>">Groups</a>
												</li>
                                                <% if(login_id==User_id){ %>
												<li>
													<a class="" href="/user/notifications/<%=User._id%>">Notifications</a>
												</li>
												<% } %>
												
											</ul>
											<ol class="folw-detail">
												<li><span>Posts</span><ins><%=posts.length%></ins></li>
												<li><span>Followers</span><ins><%= User.followers.length%></ins></li>
												<li><span>Following</span><ins><%= User.following.length%></ins></li>
											</ol>
										</div>
									</div>
								</div>	
							</div>
							<div class="col-lg-3">
								<aside class="sidebar static left">
									<div class="widget pitnik-links stick-widget">
										<ul>
											<li><a href="#" title="">#cricket</a></li>
											<li><a href="#" title="">#questions</a></li>
											<li><a href="#" title="">#discussions</a></li>
											<li><a href="#" title="">#icc</a></li>
											<li><a href="#" title="">#IPL</a></li>
											<li><a href="#" title="">#India</a></li>
											<li><a href="#" title="">#BCCI</a></li>
											<li><a href="#" title="">#Australia</a></li>
											<li><a href="#" title="">#England</a></li>
										</ul>
										
									</div><!-- little links -->
								</aside>
							</div><!-- sidebar -->
                              
							

							<div class="col-lg-9">
							<% if(login_id==User_id){ %>
								<div class="central-meta postbox">
									<span class="create-post">Create post</span>
									<div class="new-postbox">
										<figure>
											<img src="/images/resources/company1.png" alt="">
										</figure>
										<div class="newpst-input">
											<form method="post" action="/userpost/timeline/<%=User._id%>">
												<input type="text" name="body" rows="2" placeholder="Share Post with the Community!">
											
										</div>  
										<div class="attachments">
											
											<button class="post-btn" type="submit" data-ripple="">Post</button>
										</form>
										</div>
										<div class="central-meta postbox">
											<span class="create-post">Create Poll</span>
											<div class="new-postbox">
												<figure>
													<img src="images/resources/company1.png" alt="">
												</figure>
												<div class="newpst-input">
													<form method="post" action="/userpost/createPolls/<%=User._id %>">
														<input type="text" name="poll_quest" rows="2"
															placeholder="Add Question Poll!">
														<input class="form-control" type="text" name="option1"
															placeholder="Enter Option 1" required>
														<input class="form-control" type="text" name="option2"
															placeholder="Enter Option 2" required>
														<input class="form-control" type="text" name="option3"
															placeholder="Enter Option 3" required>

												</div>
												<div class="attachments">

													<button class="post-btn" type="submit" data-ripple=""
														name="groupsname" value="<%= User._id %>">Post</button>
												</div>
												</form>

											</div>
                                            <form action="/userpost/askQuestion/<%=User._id %>" method="post">
                                            <div class="input-box">
												<label class="fs-14 text-black fw-medium mb-0">Ask Question</label>
												<!-- <p class="fs-13 pb-3 lh-20">Include all the information someone would need to answer your question</p> -->
												<div class="form-group">
													<input type="text" name="quest" class="form-control form--control user-text-editor" rows="10" cols="40">
												</div>
												<!-- <div class="form-group">
													<div class="file-upload-wrap file-upload-layout-2">
														<input type="file" name="files" class="file-upload-input" >
														<span class="file-upload-text d-flex align-items-center justify-content-center"><i class="la la-cloud-upload mr-2 fs-24"></i>Drop files here or click to upload.</span>
													</div>
												</div> -->
											</div>
											<button class="post-btn" type="submit" data-ripple=""
														name="quest_group" value="<%= User._id %>">Submit Question</button>
										    </form>

										</div>


									</div><!-- add post new box -->
									<% } %>
									<% posts.forEach(function(post){ %>
										<div class="loadMore">
											<div class="central-meta item">
												<div class="user-post">
													<div class="friend-info">
														<figure>
															<img src="/images/resources/hobo.jpg" alt="">
														</figure>

														<div class="friend-name">
															<div class="more">
																<div class="more-post-optns"><i class="ti-more-alt"></i>
																	<ul>
																		<li>
																			<div class="more-post-optns"><i
																					class="fa fa-pencil-square-o"> Edit
																					Post</i>
																				<ul>
																					<li>
																						<form
																							action="/userpost/update/<%= post.id %>"
																							method="post">
																							<input type="text"
																								name="edited_post"
																								placeholder="<%= post.body %>"
																								required>
																							<button
																								style="background-color:#47B5FF"
																								type="submit"
																								name="updatepost"
																								value="<%= post.id %>"><i></i>Update</button>
																						</form>
																					</li>
																				</ul>
																		</li>
																		<li>
																			<form action="/userpost/delete/<%= post.id %>"
																				method="post"><button
																					style="background-color:#47B5FF"
																					type="submit" name="deletepost"
																					value="<%= post.id %>"><i
																						class="fa fa-trash-o"></i>Delete
																					Post</button></form>
																		</li>
																		<li class="bad-report"><i
																				class="fa fa-flag"></i>Report Post</li>

																	</ul>
																</div>
															</div>
															<% if (post.type==="normal" ){ %>
																<ins><a href="/user/viewprofile/<%= post.author %>" title="">
																		<%= post.author %>
																	</a></ins>
																<span><i class="fa fa-globe"></i>
																	<%= post.created_on %>
																</span>
														</div>
														<div class="post-meta">
															<figure>
																<img src="images/resources/user-post.jpg" alt="">

																<h4 id="esitpost">
																	<%= post.body %>
																</h4>
																</a>


															</figure>
															<!-- <div class="description">
														<p>
															To debugging and troubleshooting, developers have their hands full.</p>
													</div> -->
															<div class="we-video-info">
																<ul>

																	<li>
																		<form action="/userpost/like/<%=post._id%>" method="post">
																			<div class="likes heart" title="Like/Dislike"><button type="submit">❤</button>
																			</form>	
																			<span>
																				<%= post.likes.length %>
																			</span></div>
																	</li>
																	<li>
																		<span class="comment" title="Comments">
																			<i class="fa fa-commenting"></i>
																			<ins>
																				<%= post.comments.length %>
																			</ins>
																		</span>
																	</li>


																</ul>

															</div>
														</div>

														<div class="coment-area">
															<ul class="we-comet">
																<% for (var i=0; i < post.comments.length; i++) { %>
																	<li>
																		<div class="comet-avatar">
																			<img src="/images/resources/hobo.jpg"
																				alt="">
																		</div>
																		<div class="we-comment">
																			<h5><a href="/user/viewprofile/<%= post.comments[i].user %>" title="">
																					<%= post.comments[i].user %>
																				</a></h5>
																			<p>
																				<%= post.comments[i].cmnt %>
																			</p>
																			<div class="inline-itms">
																				<span>
																					<%= post.comments[i].commented_on %>
																				</span>

																				<a href="#" title=""><i
																						class="fa fa-heart"></i><span>1</span></a>
																			</div>
																		</div>

																	</li>
																	<% } %>



																		<li class="post-comment">
																			<div class="comet-avatar">
																				<img src="/images/resources/hobo.jpg"
																					alt="">
																			</div>
																			<div class="post-comt-box">
																				<form method="post"
																					action="/userpost/commentPost/<%= User._id %>">
																					<input type="text"
																						name="comment_body"
																						placeholder="Add Comment">
																					<!-- <div class="add-smiles">
																		<div class="uploadimage">
																			<i class="fa fa-image"></i>
																			<label class="fileContainer">
																				<input type="file">
																			</label>
																		</div>
																		
																	</div> -->

																					<button class="post-btn"
																						type="submit"
																						value="<%= post._id %>"
																						name="postid">Post
																						Comment</button>
																				</form>
																			</div>
																		</li>
															</ul>
															<% } %>

															<% if (post.type==="poll" ){ %>
																	<ins><a href="/user/viewprofile/<%= post.author %>" title="">
																			<%= post.author %>
																		</a></ins>
																	<span><i class="fa fa-globe"></i>
																		<%= post.created_on %>
																	</span>
														</div>
														<div class="post-meta">
															<figure>
																<img src="images/resources/user-post.jpg" alt="">

																<h4 id="esitpost">
																	<%= post.body %>
																</h4>
																<% for (var i=0; i < post.options.length; i++) { %>


																	<div class="description">
																		<div class="poll-area">
																			<form
																				action="/userpost/vote/<%= post._id %>/<%= post.options[i] %>"
																				method="post">
																				<input type="submit"><input
																					type="checkbox" name="poll"
																					value="<%= post.options[i] %>"
																					id="opt-1">
																				<label for="opt-<%= i+1 %>"
																					class="opt<%= i+1 %>">
																					<div class="row">
																						<div class="column">
																							<span class="circle"></span>
																							<span class="text">
																								<%= post.options[i] %>
																							</span>
																						</div>
																						<% var count=0  %>
																						<% var total_count=0  %>
																			<% post.submissions.forEach(function(submission) { %>
																				<% if (submission===post.options[i]) {  %>
																					<% count=count+1 %>
																					<% } %>
																					<% if (submission) {  %>
																						<% total_count=total_count+1 %>
																						<% } %>
																					<% }) %>
																					<% var total=post.submissions.length  %>
																					<% console.log((count*100/total_count))%>
																					

																						<span class="percent"><%= (count*100/total_count) %>%</span>
																					</div>
																					<div class="progress"
																						style='--w:<%= count*100/total_count %>;'></div>
																				</label>
																			</form>
																		</div>
																	</div>
																	<% } %>
																		</a>


															</figure>
															<!-- <div class="description">
															<p>
																To debugging and troubleshooting, developers have their hands full.</p>
														</div> -->
															<div class="we-video-info">
																<ul>

																	<li>
																		<form action="/userpost/like/<%=post._id%>" method="post">
																			<div class="likes heart" title="Like/Dislike"><button type="submit">❤</button>
																			</form>	
																			<span>
																				<%= post.likes.length %>
																			</span></div>
																	</li>
																	<li>
																		<span class="comment" title="Comments">
																			<i class="fa fa-commenting"></i>
																			<ins>
																				<%= post.comments.length %>
																			</ins>
																		</span>
																	</li>


																</ul>

															</div>
														</div>

														<div class="coment-area">
															<ul class="we-comet">
																<% for (var i=0; i < post.comments.length; i++) { %>


																	<li>
																		<div class="comet-avatar">
																			<img src="/images/resources/hobo.jpg"
																				alt="">
																		</div>
																		<div class="we-comment">
																			<h5><a href="/user/viewprofile/<%= post.comments[i].user %>" title="">
																					<%= post.comments[i].user %>
																				</a></h5>
																			<p>
																				<%= post.comments[i].cmnt %>
																			</p>
																			<div class="inline-itms">
																				<span>
																					<%= post.comments[i].commented_on %>
																				</span>

																				<a href="#" title=""><i
																						class="fa fa-heart"></i><span>1</span></a>
																			</div>
																		</div>

																	</li>
																<% } %>



																		<li class="post-comment">
																			<div class="comet-avatar">
																				<img src="/images/resources/hobo.jpg"
																					alt="">
																			</div>
																			<div class="post-comt-box">
																				<form method="post"
																					action="/userpost/commentPost/<%= User._id %>">
																					<input type="text"
																						name="comment_body"
																						placeholder="Add Comment">
																					<!-- <div class="add-smiles">
																			<div class="uploadimage">
																				<i class="fa fa-image"></i>
																				<label class="fileContainer">
																					<input type="file">
																				</label>
																			</div>
																			
																		</div> -->

																					<button class="post-btn"
																						type="submit"
																						value="<%= post._id %>"
																						name="postid">Post
																						Comment</button>
																				</form>
																			</div>
																		</li>
															</ul>
															<% } %>

															<% if (post.type==="question" ){ %>
																<ins><a href="/user/viewprofile/<%= post.author %>" title="">
																		<%= post.author %>
																	</a></ins>
																<span><i class="fa fa-globe"></i>
																	<%= post.created_on %>
																</span>
														</div>
														<div class="post-meta">
															<figure>
																<img src="images/resources/user-post.jpg" alt="">

																<h4 id="esitpost">
																	<%= post.body %>
																</h4>
																</a>


															</figure>
															<!-- <div class="description">
														<p>
															To debugging and troubleshooting, developers have their hands full.</p>
													</div> -->
															<div class="we-video-info">
																<ul>

																	<li>
																		<form action="/userpost/like/<%=post._id%>" method="post">
																			<div class="likes heart" title="Like/Dislike"><button type="submit">❤</button>
																			</form>	
																			<span>
																				<%= post.likes.length %>
																			</span></div>
																	</li>
																	<li>
																		<span class="comment" title="Comments">
																			<!-- <i class="fa fa-commenting"></i> -->
																			Answers
																			<ins>
																				<%= post.answers.length %>
																			</ins>
																		</span>
																	</li>


																</ul>

															</div>
														</div>

														<div class="coment-area">
															<ul class="we-comet">
																<% for (var i=0; i < post.answers.length; i++) { %>
																	<li>
																		<div class="comet-avatar">
																			<img src="/images/resources/hobo.jpg"
																				alt="">
																		</div>
																		<div class="we-comment">
																			<h5><a href="/user/viewprofile/<%= post.answers[i].user %>" title="">
																					<%= post.answers[i].user %>
																				</a></h5>
																			<p>
																				<%= post.answers[i].ans %>
																			</p>
																			<div class="inline-itms">
																				<span>
																					<%= post.answers[i].answered_on %>
																				</span>

																				<a href="#" title=""><i
																						class="fa fa-heart"></i><span>1</span></a>
																			</div>
																		</div>

																		<div class="we-video-info">
																			<ul>
			
																				<!-- <li>
																					<div class="likes heart" title="Like/Dislike">❤
																						<span>
																							<%= post.likes.length %>
																						</span></div>
																				</li> -->
																				<li>
																					<span class="comment" title="Comments">
																						<!-- <i class="fa fa-commenting"></i> -->
																						Comments
																						<ins>
																							<%= post.answers.length %>
																						</ins>
																					</span>
																				</li>
																				
																					<!-- <% console.log(post.ans_comment.length) %> -->
																					

																					<% for (var j=0; j < post.ans_comment.length; j++) { %>
																						
																							
																							<% if(post.ans_comment[j].ans===post.answers[i].ans) { %>
                                                                                              
																								<li>
																									<div class="comet-avatar">
																										<img src="/images/resources/hobo.jpg"
																											alt="">
																									</div>
																									<div class="we-comment">
																										<h5><a href="/user/viewprofile/<%= post.ans_comment[j].user %>" title="">
																												<%= post.ans_comment[j].user %>
																											</a></h5>
																										<p>
																											<%= post.ans_comment[j].cmnt %>
																										</p>
																										<div class="inline-itms">
																											<span>
																												<%= post.ans_comment[j].commented_on %>
																											</span>
							
																											<a href="#" title=""><i
																													class="fa fa-heart"></i><span>1</span></a>
																										</div>
																									</div>
																									</li>

																							<% const comment = post.ans_comment[j].cmnt %>
																						    <% console.log(comment) %>
																							<% } %>
																						
																					
																						<% } %>
																						
																						
																						
														
																				<li class="post-comment">
																					<div class="comet-avatar">
																						
																						<img src="/images/resources/hobo.jpg"
																							alt="">
																					</div>
																					<div class="post-comt-box">
																						<form method="post"
																							action="/userpost/answerComment/<%= post.answers[i].ans%>/<%=User._id%>">
																							<input type="text"
																								name="answer_comment"
																								placeholder="Add Comment">
																							<!-- <div class="add-smiles">
																					<div class="uploadimage">
																						<i class="fa fa-image"></i>
																						<label class="fileContainer">
																							<input type="file">
																						</label>
																					</div>
																					
																				</div> -->
		
																							<button class="post-btn"
																								type="submit"
																								value="<%= post._id %>"
																								name="postid" style="background-color: #47B5FF;">Post
																								Comment</button>
																						</form>
																					</div>
																				</li>
			
			
																			</ul>
			
																		</div>

																	</li>
																	<% } %>



																		<li class="post-comment">
																			<div class="comet-avatar">
																				<img src="/images/resources/hobo.jpg"
																					alt="">
																			</div>
																			<div class="post-comt-box">
																				<form method="post"
																					action="/userpost/answerQuest/<%= User._id %>">
																					<input type="text"
																						name="ans_body"
																						placeholder="Your Answer here">
																					<!-- <div class="add-smiles">
																		<div class="uploadimage">
																			<i class="fa fa-image"></i>
																			<label class="fileContainer">
																				<input type="file">
																			</label>
																		</div>
																		
																	</div> -->

																					<button class="post-btn"
																						type="submit"
																						value="<%= post._id %>"
																						name="postid">Submit Answer
																						</button>
																				</form>
																			</div>
																		</li>
															</ul>
															<% } %>
														</div>
													</div>
												</div>
											</div>


										</div>
										<% }) %>
									</div>
									
								</div><!-- add post new box -->
								
								<!-- <div class="loadMore">
									<div class="central-meta item">
										<div class="user-post">
											<div class="friend-info">
												<figure>
													<img src="/images/resources/hobo.jpg" alt="">
												</figure>
												<div class="friend-name">
													<div class="more">
														<div class="more-post-optns"><i class="ti-more-alt"></i>
															<ul>
																<li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
																<li><i class="fa fa-trash-o"></i>Delete Post</li>
																<li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
																
															</ul>
														</div>
													</div>
													<ins><a href="#" title="">Sailendra</a></ins>
													<span><i class="fa fa-globe"></i> April,25 2022</span>
												</div>
												<div class="post-meta">
													<figure>
															<img src="/images/resources/user-post.jpg" alt="">
														
															<h4>A day in the life of a developer</h4>
														</a>
														

													</figure>												
													<div class="description">
														<p>
															To debugging and troubleshooting, developers have their hands full.</p>
													</div>
													<div class="we-video-info">
														<ul>
															
															<li>
																<div class="likes heart" title="Like/Dislike">❤ <span>2K</span></div>
															</li>
															<li>
																<span class="comment" title="Comments">
																	<i class="fa fa-commenting"></i>
																	<ins>2</ins>
																</span>
															</li>

															
														</ul>
														
													</div>
												</div>
												<div class="coment-area" >
													<ul class="we-comet">
														<li>
															<div class="comet-avatar">
																<img src="/images/resources/hobo.jpg" alt="">
															</div>
															<div class="we-comment">
																<h5><a href="timeline.html" title="">James T Kirk</a></h5>
																<p>They need to be able to think on their feet and be able to work with a team to get the job done</p>
																<div class="inline-itms">
																	<span>1 day ago</span>
																	
																	<a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
																</div>
															</div>

														</li>
														<li>
															<div class="comet-avatar">
																<img src="/images/resources/hobo.jpg" alt="">
															</div>
															<div class="we-comment">
																<h5><a href="timeline.html" title="">Starfleet Enterprise</a></h5>
																<p>Exploring Space is awesome.
																	
																</p>
																<div class="inline-itms">
																	<span>1 hour ago</span>
																	
																	<a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
																</div>
															</div>
														</li>
														
														<li class="post-comment">
															<div class="comet-avatar">
																<img src="/images/resources/hobo.jpg" alt="">
															</div>
															<div class="post-comt-box">
																<form method="post">
																	<textarea placeholder="Post your comment"></textarea>
																	<div class="add-smiles">
																		<div class="uploadimage">
																			<i class="fa fa-image"></i>
																			<label class="fileContainer">
																				<input type="file">
																			</label>
																		</div>
																		
																	</div>

																	<button type="submit"></button>
																</form>	
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
									- Here Ads code displayed -->
									<!-- <div class="central-meta item">
										<div class="user-post">
											<div class="friend-info">
												<figure>
													<img src="/images/resources/hobo.jpg" alt="">
												</figure>
												<div class="friend-name">
													<div class="more">
														<div class="more-post-optns"><i class="ti-more-alt"></i>
															<ul>
																<li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
																<li><i class="fa fa-trash-o"></i>Delete Post</li>
																<li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
																</ul>
														</div>
													</div>
													<ins><a href="timeline.html" title="">Linkedin</a></ins>
													<span>sponsored <i class="fa fa-globe"></i></span>
													
												</div>
												<div class="post-meta">
													<figure>
														<img src="/images/sponsors.gif" alt="">
														
													</figure>	
													<div class="description">
														<a href="#" class="learnmore" data-ripple="">Visit Website</a>
														<p>
															A Sample Linkedin Ad is being displayed here

														</p>
													</div>
													
												</div>
												
											</div>
										</div>
									</div> digital sponsors -->
									<!-- <div class="central-meta item">
										<div class="user-post">
											<div class="friend-info">
												<figure>
													<img src="/images/resources/hobo.jpg" alt="">
												</figure>
												<div class="friend-name">
													<div class="more">
														<div class="more-post-optns"><i class="ti-more-alt"></i>
															<ul>
																<li><i class="fa fa-pencil-square-o"></i>Edit Post</li>
																<li><i class="fa fa-trash-o"></i>Delete Post</li>
																<li class="bad-report"><i class="fa fa-flag"></i>Report Post</li>
																</ul>
														</div>
													</div>
													<ins><a href="timeline.html" title="">Sherlock Holmes</a></ins>
													<span> April,26 2022 </span>
												</div>
												<div class="post-meta">
													<div class="description">
														<p>
															Sherlock; into the game of shadows <a href="#" title="">#guess the actor!</a> 
														</p>
													</div>
													
												
													<div class="we-video-info">
														<ul>
														
															<li>
																<div class="likes heart" title="Like/Dislike">❤ <span>2K</span></div>
															</li>
															<li>
																<span class="comment" title="Comments">
																	<i class="fa fa-commenting"></i>
																	<ins>2</ins>
																</span>
															</li>

															
														</ul>
														
													</div>
												</div>
												<div class="coment-area" >
													<ul class="we-comet">
														<li>
															<div class="comet-avatar">
																<img src="images/resources/hobo.jpg" alt="">
															</div>
															<div class="we-comment">
																<h5><a href="timeline.html" title="">James T Kirk</a></h5>
																<p>It's RDJ!</p>
																<div class="inline-itms">
																	<span>1 minute ago</span>
																	
																	<a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
																</div>
															</div>

														</li>
														<li>
															<div class="comet-avatar">
																<img src="images/resources/hobo.jpg" alt="">
															</div>
															<div class="we-comment">
																<h5><a href="timeline.html" title="">Starfleet Enterprise</a></h5>
																<p>My Favorite Movie! Robert Downey Jr
																	
																</p>
																<div class="inline-itms">
																	<span>1 hour ago</span>
																	
																	<a href="#" title=""><i class="fa fa-heart"></i><span>20</span></a>
																</div>
															</div>
														</li>
														
														<li class="post-comment">
															<div class="comet-avatar">
																<img src="images/resources/hobo.jpg" alt="">
															</div>
															<div class="post-comt-box">
																<form method="post">
																	<textarea placeholder="Post your comment"></textarea>
																	<div class="add-smiles">
																		<div class="uploadimage">
																			<i class="fa fa-image"></i>
																			<label class="fileContainer">
																				<input type="file">
																			</label>
																		</div>
																		
																	</div>

																	<button type="submit"></button>
																</form>	
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								
							    </div>  --> 
							</div><!-- centerl meta -->
							
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section><!-- content -->


	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">© Your Sawaal 2022. All rights reserved.</span>
				
				</div>
			</div>
		</div>
	</div><!-- bottom bar -->
</div>


<script>
	const options = document.querySelectorAll("label");
	for (let i = 0; i < options.length; i++) {
		options[i].addEventListener("click", () => {
			for (let j = 0; j < options.length; j++) {
				if (options[j].classList.contains("selected")) {
					options[j].classList.remove("selected");
				}
			}
			options[i].classList.add("selected");
			for (let k = 0; k < options.length; k++) {
				options[k].classList.add("selectall");
			}
			let forVal = options[i].getAttribute("for");
			let selectInput = document.querySelector("#" + forVal);
			let getAtt = selectInput.getAttribute("type");
			if (getAtt == "checkbox") {
				selectInput.setAttribute("type", "radio");
			} else if (selectInput.checked == true) {
				options[i].classList.remove("selected");
				selectInput.setAttribute("type", "checkbox");
			}
			let array = [];
			for (let l = 0; l < options.length; l++) {
				if (options[l].classList.contains("selected")) {
					array.push(l);
				}
			}
			if (array.length == 0) {
				for (let m = 0; m < options.length; m++) {
					options[m].removeAttribute("class");
				}
			}
		});
	}
</script>
	
	<script src="/js/main.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>
	<script src="/js/locationpicker.jquery.js"></script>
	<script src="/js/map-init.js"></script>
	<script src="/js/script.js"></script>
	<script>
		jQuery(document).ready(function($) {
			
			$('#us3').locationpicker({
			  location: {
			    latitude: -8.681013,
			    longitude: 115.23506410000005
			  },
			  radius: 0,
			  inputBinding: {
			    latitudeInput: $('#us3-lat'),
			    longitudeInput: $('#us3-lon'),
			    radiusInput: $('#us3-radius'),
			    locationNameInput: $('#us3-address')
			  },
			  enableAutocomplete: true,
			  onchanged: function (currentLocation, radius, isMarkerDropped) {
			    // Uncomment line below to show alert on each Location Changed event
			    //alert("Location changed. New location (" + currentLocation.latitude + ", " + currentLocation.longitude + ")");
			  }
			});

		});	
</script>

</body>	
</html>