<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Your Sawaal :: <%=User.name%></title>
    <link rel="icon" href="/images/logo.jpg" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="/css/main.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/responsive.css">

</head>
<body>
	<div class="wavy-wraper">
		<div class="wavy">
		  <span style="--i:1;">Y</span>
		  <span style="--i:2;">o</span>
		  <span style="--i:3;">u</span>
		  <span style="--i:4;">r</span>
		  <span style="--i:5;">S</span>
		  <span style="--i:6;">a</span>
		  <span style="--i:7;">w</span>
		  <span style="--i:8;">a</span>
		  <span style="--i:9;">a</span>
		  <span style="--i:10;">l</span>
		</div>
	</div>
<div class="theme-layout">
	
	<div class="topbar stick">
		<div class="logo">
			<a title="" href="#"><img height="100" src="/images/logo.jpeg" alt=""></a>
		</div>
		<div class="top-area">
			
			<div class="top-search">
				<form method="post" class="" action="/search">
                    <input type="text" placeholder="Search Questions, Groups etc" name="search_querry">
                    <button data-ripple><i class="ti-search"></i></button>
                </form>
			</div>
			<div class="page-name">
			    <span> View Profile</span>
			 </div>
			<ul class="setting-area">
				
			
				<li><a href="#" title="Languages" data-ripple=""><i class="fa fa-globe"></i><em>EN</em></a>
				
				</li>
				
			</ul>
			<div class="user-img">
				<h5><%=User.name%></h5>
				<img src="/images/resources/company1.png" alt="">
					<div class="user-setting">
					
					<ul class="log-out">
						<li><a href="/user/viewprofile/<%=User._id%>" title=""><i class="ti-user"></i> view profile</a></li>
						<li><a href="/user/editprofile/<%=User._id%>" title=""><i class="ti-pencil-alt"></i>edit profile</a></li>
						
						<li><a href="/user/logout" title=""><i class="ti-power-off"></i>log out</a></li>
					</ul>
				</div>
			</div>
			</div>
		
	</div><!-- topbar -->
		
	<div class="fixed-sidebar left">
		<div class="menu-left">
			<ul class="left-menu">
				
				<li>
					<a href="C:\Users\stack\Desktop\Your Sawaal\questions\questions.html" title="Questions" data-toggle="tooltip" data-placement="right">
						<i class="ti-magnet"></i>
					</a>
				</li>
				<li>
					<a href="C:\Users\stack\Desktop\Your Sawaal\groups\timeline.html" title="Groups" data-toggle="tooltip" data-placement="right">
						<i class="fa fa-users"></i>
					</a>
				</li>
				<li>
					<a href="C:\Users\stack\Desktop\Your Sawaal\questions\question-details.html" title="Answer" data-toggle="tooltip" data-placement="right">
						<i class="fa fa-forumbee"></i>
					</a>
				</li>
				
				
				
			</ul>
		</div>
		
	</div><!-- left sidebar menu -->
		
		
	<section>
		<div class="gap2 gray-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="row merged20" id="page-contents">
							<div class="user-profile">
								<figure>
									<div class="edit-pp">
										<label class="fileContainer">
											<i class="fa fa-camera"></i>
											<input type="file">
										</label>
									</div>
									<img src="/images/resources/profile-image.jpg" alt="">
									<ul class="profile-controls">
										<form action="/user/followuser/<%=User._id%>" method="post">
											<li><button value="<%=User._id%>" type="submit" name="follower_id">Follow</button></li>
											
											</form>
										
									</ul>
									
								</figure>
								
								<div class="profile-section">
									<div class="row">
										<div class="col-lg-2 col-md-3">
											<div class="profile-author">
												<div class="profile-author-thumb">
													<img alt="author" src="/images/resources/channel.jpg">
													<div class="edit-dp">
														<label class="fileContainer">
															<i class="fa fa-camera"></i>
															<input type="file">
														</label>
													</div>
												</div>
													
												<div class="author-content">
													<a class="h4 author-name" href="/user/viewprofile/<%=User._id%>"><%=User.name%></a>
													<div class="country"><%=User.location%>, <%=User.country%></div>
												</div>
											</div>
										</div>
										<div class="col-lg-10 col-md-9">
											<ul class="profile-menu">
											
												
												<li>
													<a class="" href="/userpost/timeline/<%=User._id%>">Timeline</a>
												</li>
												<li>
													<a class="active" href="/user/viewprofile/<%=User._id%>">About</a>
												</li>
												<li>
													<a class="" href="/user/followers/<%=User._id%>">Followers</a>
												</li>
												<li>
													<a class="" href="/groups/grouphome/<%=User._id%>">Groups</a>
												</li>
												
												
											</ul>
											<ol class="folw-detail">
												<li><span>Posts</span><ins>101</ins></li>
												<li><span>Followers</span><ins><%=User.followers.length%></ins></li>
												<li><span>Following</span><ins><%=User.following.length%></ins></li>
											</ol>
										</div>
									</div>
								</div>	
							</div><!-- user profile banner  -->
							<div class="col-lg-4 col-md-4">
								<aside class="sidebar">
								<div class="central-meta stick-widget">
									<span class="create-post">Personal Info</span>
									<div class="personal-head">
										<span class="f-title"><i class="fa fa-user"></i> About:</span>
										<p>
											<%=User.about%>
										</p>
										<span class="f-title"><i class="fa fa-birthday-cake"></i> Birthday:</span>
										<p>
											November 17 
										</p>
										<span class="f-title"><i class="fa fa-envelope"></i> Email Address:</span>
										<p>
											<%=User.email%>
										</p>
										
										<span class="f-title"><i class="fa fa-male"></i> Gender:</span>
										<p>
											<%=User.gender%> 
										</p>
										<span class="f-title"><i class="fa fa-globe"></i> Country:</span>
										<p>
										India
										</p>
										<span class="f-title"><i class="fa fa-briefcase"></i> Occupation:</span>
										<p>
											Web [web2.0 & web3.0] Developer
										</p>
										<span class="f-title"><i class="fa fa-handshake-o"></i> Joined:</span>
										<p>
											<%=User.joined%>  
										</p>
										
										<span class="f-title"><i class="fa fav-play"></i> Website:</span>
										<p>
											<a href="https://stacknation.org" >https://stacknation.org</a> 
										</p>
										
									</div>
								</div>
								</aside>	
							</div>	
							<div class="col-lg-8 col-md-8">
								<div class="central-meta">
									<span class="create-post">General Info</span>
									<div class="row">
										<div class="col-lg-6">
											<div class="gen-metabox">
												<span><i class="fa fa-puzzle-piece"></i> Hobbies</span>
												<p>
													<%=User.hobby%>
												</p>
											</div>
											<!-- <div class="gen-metabox">
												<span><i class="fa fa-plus"></i> Interests</span>
												<p>
													Editing, VFX Designing, UI/UX, Content Writing, Coding
												</p>
											</div> -->
										</div>
										<div class="col-lg-6">
											<div class="gen-metabox">
												<span><i class="fa fa-mortar-board"></i> Education</span>
												<% for (var i=0; i < User.education.length; i++) { %>
													<p>
														<%=User.education[i]%> 
													</p>
													<% } %>
											</div>
											<div class="gen-metabox">
												<span><i class="fa fa-certificate"></i> Work and experience</span>
												<% for (var i=0; i < User.experience.length; i++) { %>
												<p>
													<%=User.experience[i]%> 
												</p>
												<% } %>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="gen-metabox no-margin">
												<span><i class="fa fa-sitemap"></i> Social Networks</span>
												<ul class="sociaz-media">
													<li><a class="facebook" href="#" title=""><i class="fa fa-facebook"></i></a></li>
													<li><a class="twitter" href="#" title=""><i class="fa fa-twitter"></i></a></li>
													<li><a class="google" href="#" title=""><i class="fa fa-google-plus"></i></a></li>
													<li><a class="vk" href="#" title=""><i class="fa fa-youtube"></i></a></li>
													<li><a class="instagram" href="#" title=""><i class="fa fa-instagram"></i></a></li>
													
												</ul>
											</div>
										</div>
										
									</div>	
								</div>
					
								
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section><!-- content -->


	<div class="bottombar">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<span class="copyright">© Your Sawaal 2022. All rights reserved.</span>
				
				</div>
			</div>
		</div>
	</div><!-- bottom bar -->
</div>

	
	<script data-cfasync="false" src="/../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="/js/main.min.js"></script>
	<script src="/js/script.js"></script>

</body>	

</html>